$selection-bg: #ff0000;
$selection-fg: #ffffff;

$shadow-color1   : #000000;
$shadow-color2   : #393939;
$highlight-color1: #717171;
$highlight-color2: #a0a0a0;




/* 
┌─────────────────────────────────────────────────────────────────────────────────────────────────────────┐
!                                                                                                         !
!   WARNING: Code beyond this point has been generated via script, anything changed will be overwritten   !
?   [file://./generate-colors.js]                                                                         ?
!                                                                                                         !
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘
617761 */


// Primary Background Colors:
$bg-1: #1e1c1f !default;
$bg-2: #9862b1 !default;

// Primary Foreground Colors:
$fg-1: #e2e0db !default;
$fg-2: #ffc0ff !default;
$fg-3: #e3439b !default;

// Primary Highlight Colors:
$hi-1: #a052d8 !default;



// Secondary Background Colors:
$bg-1df: #000000 !default;  $bg-2df: #230835 !default;
$bg-1de: #000000 !default;  $bg-2de: #2a0e3d !default;
$bg-1dd: #000000 !default;  $bg-2dd: #311345 !default;
$bg-1dc: #000000 !default;  $bg-2dc: #38194c !default;
$bg-1db: #000000 !default;  $bg-2db: #3f1f54 !default;
$bg-1da: #000000 !default;  $bg-2da: #47245c !default;
$bg-1d9: #000000 !default;  $bg-2d9: #4e2a64 !default;
$bg-1d8: #000000 !default;  $bg-2d8: #56306d !default;
$bg-1d7: #000100 !default;  $bg-2d7: #5e3675 !default;
$bg-1d6: #010201 !default;  $bg-2d6: #663c7d !default;
$bg-1d5: #030402 !default;  $bg-2d5: #6e4286 !default;
$bg-1d4: #070806 !default;  $bg-2d4: #76498e !default;
$bg-1d3: #0c0c0b !default;  $bg-2d3: #7e4f97 !default;
$bg-1d2: #121112 !default;  $bg-2d2: #87559f !default;
$bg-1d1: #181718 !default;  $bg-2d1: #8f5ca8 !default;
$bg-1l1: #252126 !default;  $bg-2l1: #a169ba !default;
$bg-1l2: #2b272d !default;  $bg-2l2: #aa6fc3 !default;
$bg-1l3: #322d34 !default;  $bg-2l3: #b376cc !default;
$bg-1l4: #39333c !default;  $bg-2l4: #bc7cd5 !default;
$bg-1l5: #403843 !default;  $bg-2l5: #c583de !default;
$bg-1l6: #483e4b !default;  $bg-2l6: #ce8ae7 !default;
$bg-1l7: #4f4553 !default;  $bg-2l7: #d891f0 !default;
$bg-1l8: #574b5b !default;  $bg-2l8: #e198f9 !default;
$bg-1l9: #5f5163 !default;  $bg-2l9: #eb9fff !default;
$bg-1la: #67576b !default;  $bg-2la: #f5a6ff !default;
$bg-1lb: #6f5e73 !default;  $bg-2lb: #feadff !default;
$bg-1lc: #77647b !default;  $bg-2lc: #ffb4ff !default;
$bg-1ld: #7f6b84 !default;  $bg-2ld: #ffbbff !default;
$bg-1le: #88718c !default;  $bg-2le: #ffc2ff !default;
$bg-1lf: #907895 !default;  $bg-2lf: #ffc9ff !default;



// Secondary Foreground Colors:
$fg-1df: #616d83 !default;  $fg-2df: #765a7c !default;  $fg-3df: #530036 !default;
$fg-1de: #697489 !default;  $fg-2de: #7f6085 !default;  $fg-3de: #5c003d !default;
$fg-1dd: #717b8e !default;  $fg-2dd: #87678d !default;  $fg-3dd: #650043 !default;
$fg-1dc: #798294 !default;  $fg-2dc: #906d95 !default;  $fg-3dc: #6e0049 !default;
$fg-1db: #828a9a !default;  $fg-2db: #99749e !default;  $fg-3db: #770050 !default;
$fg-1da: #8a91a0 !default;  $fg-2da: #a17ba7 !default;  $fg-3da: #800057 !default;
$fg-1d9: #9399a6 !default;  $fg-2d9: #aa81af !default;  $fg-3d9: #8a005d !default;
$fg-1d8: #9ba1ab !default;  $fg-2d8: #b388b8 !default;  $fg-3d8: #930064 !default;
$fg-1d7: #a4a8b1 !default;  $fg-2d7: #bc8fc1 !default;  $fg-3d7: #9d076b !default;
$fg-1d6: #adb0b7 !default;  $fg-2d6: #c696c9 !default;  $fg-3d6: #a71471 !default;
$fg-1d5: #b5b8bd !default;  $fg-2d5: #cf9dd2 !default;  $fg-3d5: #b11d78 !default;
$fg-1d4: #bec0c3 !default;  $fg-2d4: #d8a4db !default;  $fg-3d4: #ba257f !default;
$fg-1d3: #c7c8c9 !default;  $fg-2d3: #e2abe4 !default;  $fg-3d3: #c42d86 !default;
$fg-1d2: #d0d0cf !default;  $fg-2d2: #ecb2ed !default;  $fg-3d2: #cf358d !default;
$fg-1d1: #d9d8d5 !default;  $fg-2d1: #f5b9f6 !default;  $fg-3d1: #d93c94 !default;
$fg-1l1: #ebe8e1 !default;  $fg-2l1: #ffc7ff !default;  $fg-3l1: #ed4aa2 !default;
$fg-1l2: #f4f1e7 !default;  $fg-2l2: #ffceff !default;  $fg-3l2: #f851a9 !default;
$fg-1l3: #fdf9ed !default;  $fg-2l3: #ffd6ff !default;  $fg-3l3: #ff58b0 !default;
$fg-1l4: #fffff3 !default;  $fg-2l4: #ffddff !default;  $fg-3l4: #ff5fb7 !default;
$fg-1l5: #fffff9 !default;  $fg-2l5: #ffe4ff !default;  $fg-3l5: #ff66be !default;
$fg-1l6: #ffffff !default;  $fg-2l6: #ffecff !default;  $fg-3l6: #ff6dc5 !default;
$fg-1l7: #ffffff !default;  $fg-2l7: #fff3ff !default;  $fg-3l7: #ff74cd !default;
$fg-1l8: #ffffff !default;  $fg-2l8: #fffbff !default;  $fg-3l8: #ff7bd4 !default;
$fg-1l9: #ffffff !default;  $fg-2l9: #ffffff !default;  $fg-3l9: #ff82db !default;
$fg-1la: #ffffff !default;  $fg-2la: #ffffff !default;  $fg-3la: #ff89e2 !default;
$fg-1lb: #ffffff !default;  $fg-2lb: #ffffff !default;  $fg-3lb: #ff90e9 !default;
$fg-1lc: #ffffff !default;  $fg-2lc: #ffffff !default;  $fg-3lc: #ff97f0 !default;
$fg-1ld: #ffffff !default;  $fg-2ld: #ffffff !default;  $fg-3ld: #ff9ef8 !default;
$fg-1le: #ffffff !default;  $fg-2le: #ffffff !default;  $fg-3le: #ffa6ff !default;
$fg-1lf: #ffffff !default;  $fg-2lf: #ffffff !default;  $fg-3lf: #ffadff !default;



// Secondary Highlight Colors:
$hi-1df: #2b0054 !default;
$hi-1de: #31005c !default;
$hi-1dd: #380064 !default;
$hi-1dc: #3f006d !default;
$hi-1db: #460076 !default;
$hi-1da: #4e077e !default;
$hi-1d9: #551287 !default;
$hi-1d8: #5d1a90 !default;
$hi-1d7: #652299 !default;
$hi-1d6: #6d29a1 !default;
$hi-1d5: #7530aa !default;
$hi-1d4: #7e37b3 !default;
$hi-1d3: #863ebc !default;
$hi-1d2: #8f44c6 !default;
$hi-1d1: #974bcf !default;
$hi-1l1: #a959e1 !default;
$hi-1l2: #b260eb !default;
$hi-1l3: #bb66f4 !default;
$hi-1l4: #c46dfd !default;
$hi-1l5: #ce74ff !default;
$hi-1l6: #d77bff !default;
$hi-1l7: #e182ff !default;
$hi-1l8: #ea89ff !default;
$hi-1l9: #f490ff !default;
$hi-1la: #fe97ff !default;
$hi-1lb: #ff9eff !default;
$hi-1lc: #ffa5ff !default;
$hi-1ld: #ffacff !default;
$hi-1le: #ffb3ff !default;
$hi-1lf: #ffbbff !default;