/* stylelint-disable */
.blink::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* Color variables for 'light' theme, only used ones are compiled */
/* Color variables for 'dark' theme, only used ones are compiled */