// @use "sass:color";
// @use "sass:math";
// @use "sass:string";
// @use "sass:meta";
@use "sass:list";
@use "sass:map";

@use "bundled" as *;



$colors: [fg, bg, hi];

@each $c in $colors {
	

	$gradient1: [];
	@for $i from 0 through 9 {
		$gradient1: list.append($gradient1, cl($c, ($i * 100) + 50));
	}
	$gradient2: [];
	@for $i from 0 through 99 {
		$gradient2: list.append($gradient2, cl($c, $i * 10));
	}

	.var-section:nth-child(#{list.index($colors, $c)}) {
		.bars > div {
			&:nth-child(1) { background-color: cl($c); }	
			&:nth-child(2) { background: f_steppedGradient($gradient1); }
			&:nth-child(3) { background: f_steppedGradient($gradient2); }
		}
	}
}



	
@include compile-colors;
