

@use "bundled" as *;
@use "reset";

body {
	background-color: #545454;
	font-family: monospace;
	padding: 6px;
}

#color-variables {
	padding: 10px;
}
.var-section {
	display: flex;
	flex-direction: column;
	background-color: #3d3d3d;
	color: rgb(235 231 231);
	padding: 4px; 
	
	.bars {
		margin-top: 3px;
		color: rgb(197 197 197); 
		width: 100%;
		outline: 1px solid rgb(255 255 255 / 53.4%);
		> div {
			height: 30px;
			background-color: rgb(177 127 127);
		}
	}
	&, * { box-sizing: border-box; }
}

	
@include compile-colors;
