/* #region Base */
body {
	font-family: var(--fontfamily);
	background-color: var(--bgcolor1);
	color: var(--fontcolor1);

	margin: 0;
	padding: 0;
	min-width: 100vw;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	margin: 0;
	padding: 0;
}

/* #endregion */

/* #region Title */
#main-title {
	width: 90%;
	height: 8vw;
	container-type: size;
	text-align: center;
}

#main-title p {
	font-size: 100cqh;
	margin: auto;
	width: fit-content;
	cursor: pointer;
}

/* #endregion */

/* #region Window */
:root {
	--general-shadow: #00000077;
	--general-highlight: #ffffff77;

	--default-button-border-raised-outer: inset -2px -2px var(--window-frame), inset 1px 1px var(--window-frame);
	--default-button-border-raised-inner: inset 2px 2px var(--button-highlight), inset -3px -3px var(--button-shadow), inset 3px 3px var(--button-face);
	--default-button-border-sunken-outer: inset 2px 2px var(--window-frame), inset -1px -1px var(--window-frame);
	--default-button-border-sunken-inner: inset -2px -2px var(--button-highlight), inset 3px 3px var(--button-shadow), inset -3px -3px var(--button-face);

	--shadowed-out: inset 5px 5px 0px 0px rgba(255, 255, 255, 0.22), inset 10px 9px 0px 0px rgba(255, 255, 255, 0.28), inset -10px -10px 0px 0px rgba(0, 0, 0, 0.48), inset -5px -5px 0px 0px rgba(0, 0, 0, 0.51);

	--shadowed-in: inset 5px 5px 0px 0px rgba(255, 255, 255, 0.22), inset 10px 9px 0px 0px rgba(255, 255, 255, 0.28), inset -10px -10px 0px 0px rgba(0, 0, 0, 0.48), inset -5px -5px 0px 0px rgba(0, 0, 0, 0.51);
}

@font-face {
	font-family: win98;
	src: url("/fonts/Windows Regular.ttf");
}

.main-window {
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
	min-height: 100vh;
	background-color: var(--bgcolor1);
	/* box-shadow:                                     inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff; */
}

.title-bar {
	width: 100%;
	padding: 6px;
	box-sizing: border-box;
}

.title-bar > div {
	font-size: x-large;
	font-family: win98;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 2em;

	align-items: center;
	padding: 0.3em;
	box-shadow: var(--shadowed-in);

	background: linear-gradient(90deg, rgba(119, 80, 159, 1) 0%, rgba(205, 106, 199, 1) 40%, rgba(243, 213, 180, 1) 100%);
}

.title-bar p {
	margin-right: auto;
	margin-left: 0.3em;
}

.title-bar .title-bar-button {
	background-color: var(--bgcolor5);
	min-height: 100%;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.5em;
	box-shadow: var(--shadowed-out);
	margin-left: 4px;
	transition: all 100ms;
	border: 1.5px solid #0000000d;
	cursor: pointer;
}

.title-bar-button:active,
.title-bar-button.active {
	transition: all 5ms;
	background-color: var(--bgcolor3);
	min-height: 100%;
	aspect-ratio: 1 / 1;

	position: relative;
	transform: translate(0.1em, 0.1em);

	font-size: 0.5em;
	box-shadow: var(--shadowed-in);
}

.title-bar-button:active:hover,
.title-bar-button.active:hover {
	background-color: var(--bgcolor4);
}

.title-bar-button:hover {
	background-color: var(--bgcolor6);
}

.title-bar-button::after {
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: unset;
	color: inherit;
	/* blue colors for links too */
	text-decoration: inherit;
	/* no underline */

	mask-size: 90%;
	mask-position: center;
	mask-repeat: no-repeat;
	content: "";

	background-color: #ffffff;
	width: 70%;
	height: 70%;

	image-rendering: optimizeSpeed;
}

.title-bar-button:active::after,
.title-bar-button.active::after {
	background-color: var(--fontcolor3);
}

#homebutton::after {
	mask-image: url(/images/icon_home.png);
}

#heartbutton::after {
	mask-image: url(/images/icon_heart.png);
}

#onekobutton::after {
	mask-image: url(/images/icon_oneko.png);
}

/* #endregion */
svg {
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.heart,
.heart * {
	position: fixed;
	font-size: inherit;
	width: 11em;
	height: 11em;
}

.heart {
	top: -10em;
	left: 0;
	transition: all 100ms linear;
}

#heartcontainer {
	font-size: 1.5vmin;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1;
	pointer-events: none;
}

/* #region Falling Hearts */
/* .heart {
	position: fixed;
	font-size: calc(1vw * 1vh);
	width: 4em;
	height: 4em;
	position: fixed;
	/* top: -2em; /
	pointer-events: none;
	display: flex;
	align-items: center;
	z-index: 1;
	justify-content: center;
}

.heart * {
	width: 100%;
	display: block;
	height: 100%;
}
.heartpath {
	width: 100%;
	height: 100%;
} */

@keyframes Fall {
	0% {
		top: -1em;
	}

	100% {
		top: 100vh;
	}
}

/* #heartcontainer {
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1;
	pointer-events: none;
} */
/* #endregion */

/* #region Pages */
#page-list {
	width: 100%;
	box-sizing: border-box;
	padding: 40px;
	align-self: center;
	display: flex;
	flex-wrap: wrap;

	font-size: 1.1em;
	flex-direction: row;

	align-items: stretch;
}

.page-link {
	flex: 1;
	outline: none !important;
}

.page {
	color: var(--fontcolor1);
	justify-content: center;
	padding: 10px 15px;
	margin: 3px;
	white-space: nowrap;
	background-color: var(--bgcolor3);
	border: 4px solid var(--bgcolor2);
	transition: border-color 100ms ease-out;
	cursor: pointer;
	flex-direction: column;
	align-items: center;

	display: flex;

	box-shadow:
		inset 0px 8px 0px 0px red,
		inset 0px 2px 0px 0px rgba(0, 0, 0, 1),
		inset 0px 2px 0px 0px rgba(0, 0, 0, 1),
		inset 0px 2px 0px 0px rgba(0, 0, 0, 1);
}

.page:hover,
.page-link:focus-within > .page {
	transition: border-color 10ms ease-out;
	border-color: var(--hicolor);
	background-color: var(--bgcolor4);
}

.page-title {
	font-weight: 500;
	font-size: 1.2em;
}

.page-link {
	text-decoration: none;
}

.page-desc {
	color: var(--fontcolor2);
}

/* #endregion */
