
// Imports
@use "helpers/bundled.scss" as *;
@use "sass:list";
@use "sass:color";
html {
	position: relative;
	min-height: 100%;
}
body {
	@extend %bodyDefaults; 
	min-height: 100%;
	background-image:linear-gradient( rgb(255 255 255 / 50%), rgb(255 255 255 / 50%) ), url("./assets/images/background2.png");
	background-size: cover;
}


















.lstyle {
	position: relative;
	font-family: Terminal;
	background: radial-gradient(circle, #1a1825 0%, #070c12 100%);
	// Striped Lines + Faint RGB Pixelated overlay effects
	&::before {
		pointer-events: none;
		content: " ";

		position: absolute; z-index: 2;
		inset: 0 0 0 0;

		display: block;

		background:
			linear-gradient(to bottom, #1210101c 50%, #00000025 50%),
			linear-gradient(to right, #ff00000f, #00ff0005, #0000ff0f),
			linear-gradient(to bottom, #0000 50%, #00000017 50%);
		background-size: 
			100% 2px,
			3px 100%,
			100% 16px;
	}
	@include glow;
}

#corners {
	* {
		--gradient: #0000 40%, rgb(255 255 255 / 17.3%) 0 60%, #0000 0;
		position: absolute;
		bottom: 0;

		width:  10px; 
		height: 10px;
		margin: 10px;

		background: 
			linear-gradient(0deg, var(--gradient)),
			linear-gradient(90deg, var(--gradient));
	}
	*:nth-child(1) { top:    0; left:   0; }
	*:nth-child(2) { top:    0; right:  0; }
	*:nth-child(3) { bottom: 0; left:   0; }
	*:nth-child(4) { right:  0; bottom: 0; }
}


$text-color: $fg-1la;
$a: $hi-1l6; $b: $hi-1l3; $c: $hi-1; $d: #ce3bd640; $e: #cd39c821;
#main-container-T-wrapper {
	transform-origin: center -200px;
	transform-style: preserve-3d;
	transform: rotateX(-130deg);
	
	animation: flipDown 1s cubic-bezier(0.13, 0.66, 0.85, 0.96) forwards infinite;
	animation-delay: 10ms;
	@keyframes flipDown {
		0% { transform: rotateX(1turn) rotateY(1turn); }
		100% { transform: rotateX(0) rotateY(0); }
	}
}

#topFace {
	position: absolute;
	left: 50%;
	transform-origin: center top;
	transform-style: preserve-3d;
	transform: rotateX(-90deg) translate(-50%);

	box-sizing: border-box;
	width: 99%;
	height: 200px;
	margin: auto;

	background-color: $bg-1l2;
	// animation: a 20s ease-out forwards;
	// @keyframes a {
	// 	100% { transform:  }
	// }
}


// ANCHOR - Main Container (holds all the little screens)
#main-container-T {
	$width: 20px; 
	$depth: 2px;
	
	display: inline-flex;
	flex-direction: column;

	min-width: 0;
	max-width: min-content;
	margin: $width + $depth*6 35px 200px;
	border-left: 1px solid red;

	background-color: $bg-1l1;
	box-shadow: 0 0 0 1px blue;
	// box-shadow: 
	// 	f_98shadow_outer($depth, $width),
	// 	50px 50px 100px 0 rgb(0 0 0 / 23.4%);


	> div:not(:last-child) { margin-bottom: $width + $depth*4; }
	> div {
		@include terminalStyle;
		padding: 10px;
		box-shadow:
			f_98shadow_inner($depth),
			inset 50px 50px 100px 0 rgb(0 0 0 / 34%);
	}
}
#chains {
	position: relative;
	z-index: -50;
	transform: translateZ(-60px);

	display: flex;

	height: 200px;

	backface-visibility: hidden;
	* {
		position: absolute;
		bottom: -20px;

		width: 100px;
		height: 200%;
		margin: 0 90px;
		// border: 20px solid $bg-1l1;

		background: f_stripesRepeat(to top, [[#0000, 30px], [$bg-1d1, 8px], [$bg-1, 8px], [$bg-1l1, 8px]]);
		&::after, &::before {
			content: " ";

			position: absolute;

			width: 30px;
			height: 100%;

			background-color: $bg-1;
			box-shadow: 
				f_98shadow_outer(3px, 0),;
		}
		&::after { left: 100%; }
		&::before { right: 100%; }

		&:first-child { left: 0; }
		&:last-child { right: 0; }
	}
}


// Main menu for page selection
#pageList {
	display: flex;	
	flex-direction: column;

	padding: 20px;

	font-size: 16px;
	color: rgba($text-color, 0.3);

	.title { color: $c; }


	// List of page links <p><a href="/">-> <u>Title</u> - Description</a></p>
	.links {
		display: flex;
		flex-direction: column;
		white-space: pre; // Disable the auto-collpase of spaces ' ' in the html (after the ->)

		a {
			cursor: pointer;

			display: flex;

			width: 100%;

			color: rgba($text-color, 0.5);

			outline: none;
			&:hover, &:focus-within, &:focus {
				@include glow($c, true);
				background-color: $c;
				&, * { color: $bg-1; text-decoration-color: #0000; }
			}
		}
		u {
			color:                     $text-color;
			text-decoration-color:     rgba($text-color, 0.7);
			text-decoration-thickness: 1px;
			text-underline-offset:     2px;
		}
	}
	#logo-text {
		line-height: 1ch; // Required to make all characters square
		white-space: pre;
		.a { color: $a; } .b { color: $b; } .c { color: $c; } .d { color: $d; } .e { color: $e; }
	}
}



//  
#links {
	position: absolute;
	bottom: 0;

	display: flex;
	flex-direction: row;
	align-items: center;

	margin: 20px;

	font-family: "Roboto Mono";
	line-height: 1ch;

	* { display: flex; white-space: pre; }
	a:not(.no-underline) { text-decoration: underline; text-decoration-color: rgba($text-color, 0.3); }
	a:hover, a:focus-within { color: $a; text-decoration-color: #0000; }
	.divider {
		$_color: #ffffff2f;
		width: 2px;
		height: 10px;
		margin: 0 10px;
		background: f_hardGradient($_color #0000 $_color #0000 $_color, to bottom);
	}
}



#barcode {
	display: inline-flex;
	// The actual bars
	> div {
		display: inline-flex;
		flex-grow: 1;
		height: 15px;
		> div {
			display: inline-flex;

			width: 50%;
			margin-left: 50%;

			color: rgba($c, 0.7);
		

			background-color: currentcolor;
			@include glow(currentcolor, true);
		}
	}
}




#sorting {
	flex-direction: column;
	padding: 10px;
	color: rgba($text-color, 0.7);
	// box-shadow: f_98shadow_full(), inset 50px 50px 100px 0 rgb(0 0 0 / 34%), 50px 50px 100px 0 rgb(0 0 0 / 23.4%);box-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadow
	@include terminalStyle;
	&, * {
		display: flex;
		white-space: pre;
	}
	div {
		color: rgba($text-color, 0.2);
	}

	#sortingBars {
		align-items: end;
		font-size: 1px;
		* {
			content: "";

			flex-grow: 1;

			box-sizing: initial;
			padding-bottom: 10em;

			color: $c;

			background-color: $c;
			@include glow(currentcolor, true);
		}
	}
}




// ANCHOR - Second Main Section
#main-container-P {
	bottom: 0;

	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;

	width: 100%;
	height: 600px;
	margin-top: -5%;
	padding: 10px;
	padding-top: 40px;

	font-family: cursive;
	color:#f4f3d7;
	text-align: left;

	background-color: #302b2e;

	mask: f-zigzag-conic("top");

	mask-position: 0% top;
	mask-size: 5% 100%;
}
@keyframes scroll-mask {
	0% { mask-position: 0% top; }
	100% { mask-position: 100% top; }
}



#uwu {
	width: 100%;
	max-height: 100%;

	writing-mode: vertical-lr;
	font-family: Terminal;
	text-orientation: upright;
	word-wrap: break-word;
}

// #cursor {
// 	display: flex;
// 	flex-wrap: wrap;
// 	gap: 20px;

// 	max-width: 100dvw;
// 	@include cursor("e");
// 	font-size: 600%;
// 	color: rgb(255 255 255 / 5%);
// 	* {
// 		margin: 10px;
// 		padding: 2px;
// 		// border: 1px red dashed;
// 		background-color: rgb(255 255 255 / 6.3%);
// 	}
// 	@each $type in $valid-cursor-types {
// 		$i: list.index($valid-cursor-types, $type);
// 		*:nth-child(#{$i}) { @include cursor($type); } // 
// 	}
// 	// &:nth-child(#{$i}) { @include cursor("default"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("help"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("progress"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("wait"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("cell"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("crosshair"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("text"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("vertical-text"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("move"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("not-allowed"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("grab"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("pointer"); $i: $i + 1; } // 
// 	// &:nth-child(#{$i}) { @include cursor("pointer"); $i: $i + 1; } // 
// }
