<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->	
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="awasaka01"/>
<meta name="description" content="silly little website">


<!-- Display -->
<title>default title haha</title>
<link rel="icon" href="/assets/images/favicon.ico" type="image/gif"/>


<!-- Local CSS and JS -->
<script type="module" src="main.js"></script>
<link rel="stylesheet" href="main.css">


<!-- [?] chroma.js - Color Helper [https://gka.github.io/chroma.js/] -->
<!-- How to use: Add <import chroma from "chroma-js"> to your file-->
<!-- For autocompletion: Install the module's types locally (@types/chroma-js) Add /// <reference types="chroma-js"/> to the top of your file -->
<script type="importmap">{ "imports": {
	
	
} }</script>












 
</head>
<body>

	<h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo laboriosam sapiente libero neque commodi recusandae repudiandae, sit ratione placeat debitis atque, porro quos doloribus inventore ipsa officia nostrum officiis.</h1>
</body>  	
</html>