// -------------------------------\\
// ~ forwarded in _bundled.scss ~ \\
// -------------------------------\\

@font-face {
	font-family: "gohu11";
	src: url("/fonts/gohufont-uni-11.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "gohu14";
	src: url("/fonts/gohufont-uni-14.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pixel2";
	src: url("/fonts/pixel.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "vcr";
	src: url("/fonts/vhs-vcr-osd.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}