// -------------------------------\\
// ~ forwarded in _bundled.scss ~ \\
// -------------------------------\\

@use "colors.scss" as *;
@use "fonts.scss" as *;


@mixin hidden {
	position: absolute; 
	visibility: hidden; 
	pointer-events: none; 
	z-index: -9999;
}
