@use "colors.scss" as *;
#theme-select {
	$elements-in-dropdown: 2;
	$opening-speed: 100ms * $elements-in-dropdown;
	$c1: c(fg, 100, 500); $c1-h: c(fg, 300, 400);
	$c2: c(fg, 300, 400); $c2-h: c(fg, 100, 500);
	display: inline-flex;
	width: max-content;
	position: relative;
	.spacer {
		margin-left: auto;
	}

	p {
		margin-bottom: auto;
		display: inline;
		white-space: pre;
	}
	* {
		// display: in	 line;
		line-height: inherit;
		// transition: max-height $opening-speed steps($elements-in-dropdown);
		cursor: pointer;
		user-select: none;
	}
	
	
	button {
		background-color: $c1;
		cursor: pointer;
		z-index: 10;
		// transition: box-shadow $opening-speed step-end;
	}
	button:hover {
		background-color: $c1-h;
	}
	
	button:focus-within + ul {
		pointer-events: auto;
		max-height: 2000px; // calc(20 * $elements-in-dropdown);
	}
	button:focus-within {
		pointer-events: none;
		transition: none;
		box-shadow: 2ch 1em 0 0 #00000062;
	}
	li, output { white-space: pre; }
	ul {
		// display: block;
		pointer-events: none;
		width: 100%;
		top: 100%;
		max-height: 0;
		overflow: hidden;
		position: absolute;
		z-index: 10;
		box-shadow: 2ch 1em 0 0 #00000062;
		li:hover {
			background-color: $c2-h;
		}
		li {
			background-color: $c2;
			z-index: 11;
		}
	}
}
