#range28 {
  font-size: 20px;
  user-select: none;
}

#range28 * {
  user-select: none;
}

#text24 {
  max-width: 3.5em;
}

.window {
  margin: 32px;
  width: fit-content;
  zoom: 140%;
}

.window-body {
  display: flex;
  flex-direction: row;
}

#canvas {
  margin: 6px;
}

#sidebar {
  margin: 6px;
}

canvas {
  width: 40vh;
  box-sizing: border-box;
  aspect-ratio: 1;
  background-color: var(--bgcolor1);
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf;
}
