<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	<link href="colors.css" rel="stylesheet">
</head>
<body>

	<main>

		<label for="theme-select">Select a theme</label>
		{%  include "theme.html" %}
		

		<div id="color-variables">
			<section class="var-section"><p class="title">fg</p><div class="bars"><div>500</div><div>0-900</div><div>0-999</div></div></section>
			<section class="var-section"><p class="title">bg</p><div class="bars"><div>500</div><div>0-900</div><div>0-999</div></div></section>
			<section class="var-section"><p class="title">hi</p><div class="bars"><div>500</div><div>0-900</div><div>0-999</div></div></section>
		</div>

	</main>

</body>
</html>