
<!DOCTYPE html><html lang="en">
<head><!-- Meta -->	
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="awa"/>
<meta name="description" content="silly little website">


<!-- Display -->
<title>awasomewebsite 01</title>
<link rel="icon" href="/media/images/favicon.ico" type="image/gif"/>


<!-- Helpers + External Modules -->
<script type="importmap">{ "imports": {
	"awa": "/helpers/util.js",
	"chroma-js": "https://unpkg.com/chroma-js@3.0.0/index.js"
}}</script>

 
<!-- Local CSS and JS -->
<link rel="stylesheet" href="main.css"/>
<script src="main.js" type="module"></script>
</head>
<body><link rel="stylesheet" href="/helpers/navbar.css">
<div class="title-bar-container"><header class="title-bar">
	<p>awasomewebsite 01</p>
	<div class="title-bar-button" id="button-oneko"></div>
	<div class="title-bar-button" id="button-heart"></div>
	<a href="/" class="title-bar-button" id="button-home"></a>
</header></div>

<script defer>

	const buttons = {
		heart: { active: false, el: "button-heart", event: heartToggled },
		oneko: { active: false, el: "button-oneko", event: onekoToggled },
	};

	//
	for (const value of Object.values(buttons)) {
		value.el = document.getElementById(value.el);

		// Add event listeners to toggle button states on click
		value.el.addEventListener("click", (e) => {
			value.active = !value.active;
			value.el.classList.toggle("active", value.active);
			value.event(e);
		});
	}

	// Falling Hearts
	// const symbols = ["./images/fallingheartmask.svg"];
	// const randomSymbol = () => symbols[Math.floor(Math.random() * symbols.length)];

	// // Create one of each element
	// const amount = Math.ceil(window.screen.width * window.screen.height / 100000 + 5);
	// const container = document.getElementById("heartcontainer");


	// for (let i = 1; i <= amount; i++) {
	// 	const heart = document.createElement("div");
	// 	heart.innerHTML = svgs[0];
	// 	heart.classList.add("heart");
	// 	container.appendChild(heart);
	// }
	function heartToggled (event) {
	};



	// Oneko!! Cat follow mouse!!
	function onekoToggled (event) {

	};


	// Track mouse
	let mouse = { x: 0, y: 0 };
	document.addEventListener("mousemove", (e) => { mouse = { x: e.clientX, y: e.clientY }; });
</script>


	<p>hai :3</p>


</body>
</html>