@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* 
┌─────────────────────────────────────────────────────────────────────────────────────────────────────────┐
!                                                                                                         !
!   WARNING: Code beyond this point has been generated via script, anything changed will be overwritten   !
?   [file://./generate-colors.js]                                                                         ?
!                                                                                                         !
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘
617761 */
@font-face {
  font-family: unifont;
  src: url("/media/fonts/unifont.ttf");
}
@font-face {
  font-family: win98;
  src: url("/media/fonts/Windows Regular.ttf");
}
body {
  background-color: #1e1c1f;
  color: #e2e0db;
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

p {
  margin: 0;
  padding: 0;
}

a {
  font-style: unset;
  color: inherit;
  text-decoration: inherit;
}

::selection {
  color: #ffffff;
  background: #ff0000;
}
