---yaml
title: "Template Page"
---
<!DOCTYPE html><html lang="en"><head>

	{% include "head.html" %}

</head><body>
	
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo laboriosam sapiente libero neque commodi recusandae repudiandae, sit ratione placeat debitis atque, porro quos doloribus inventore ipsa officia nostrum officiis.</p>
	<br>
	<label for="theme-select">Theme: </label>{% include "theme.html" %}
	<br>
	<a href="/">Home</a>
	<br><br><br>
	<div>FPS: <output id="fps"></output></div>
	<div id="perf"></div>


	<canvas id="canvas" width="100" height="100"></canvas>
	
</body></html>