<!-- Meta -->	
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="awa"/>
<meta name="description" content="{{ description | default: 'silly little website' }}">


<!-- Display -->
<title>{{ title | default: "default title haha" }}</title>
<link rel="icon" href="{{ favicon | default: '/assets/images/favicon.ico' }}" type="image/gif"/>


<!-- [?] chroma.js - Color Helper [https://gka.github.io/chroma.js/] -->
<!-- How to use: Add <import chroma from "chroma-js"> to your file-->
<!-- For autocompletion: Install the module's types locally (@types/chroma-js) Add /// <reference types="chroma-js"/> to the top of your file -->

<script type="importmap">
{
  "imports": {
    "react": "https://unpkg.com/react@18.2.0/umd/react.production.min.js",
    "react-dom/client": "https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js",
    "chroma-js": "https://unpkg.com/chroma-js@3.1.2/es/index.js"
  }
}
</script>


<!-- Local CSS and JS -->
<link rel="stylesheet" href="main.css"/>
<script src="main.jsx" type="module"></script>


<!-- GSAP - Animation Library [https://gsap.com/docs/] -->
{% if disableGSAP == null %}
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
{% endif %}