/* stylelint-disable */
.blink::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
body {
  font-family: monospace;
  background: linear-gradient(to right, var(--bg-5-500) 0% 1%, var(--bg-15-500) 1% 2%, var(--bg-25-500) 2% 3%, var(--bg-35-500) 3% 4%, var(--bg-45-500) 4% 5%, var(--bg-55-500) 5% 6%, var(--bg-65-500) 6% 7%, var(--bg-75-500) 7% 8%, var(--bg-85-500) 8% 9%, var(--bg-95-500) 9% 10%, var(--bg-105-500) 10% 11%, var(--bg-115-500) 11% 12%, var(--bg-125-500) 12% 13%, var(--bg-135-500) 13% 14%, var(--bg-145-500) 14% 15%, var(--bg-155-500) 15% 16%, var(--bg-165-500) 16% 17%, var(--bg-175-500) 17% 18%, var(--bg-185-500) 18% 19%, var(--bg-195-500) 19% 20%, var(--bg-205-500) 20% 21%, var(--bg-215-500) 21% 22%, var(--bg-225-500) 22% 23%, var(--bg-235-500) 23% 24%, var(--bg-245-500) 24% 25%, var(--bg-255-500) 25% 26%, var(--bg-265-500) 26% 27%, var(--bg-275-500) 27% 28%, var(--bg-285-500) 28% 29%, var(--bg-295-500) 29% 30%, var(--bg-305-500) 30% 31%, var(--bg-315-500) 31% 32%, var(--bg-325-500) 32% 33%, var(--bg-335-500) 33% 34%, var(--bg-345-500) 34% 35%, var(--bg-355-500) 35% 36%, var(--bg-365-500) 36% 37%, var(--bg-375-500) 37% 38%, var(--bg-385-500) 38% 39%, var(--bg-395-500) 39% 40%, var(--bg-405-500) 40% 41%, var(--bg-415-500) 41% 42%, var(--bg-425-500) 42% 43%, var(--bg-435-500) 43% 44%, var(--bg-445-500) 44% 45%, var(--bg-455-500) 45% 46%, var(--bg-465-500) 46% 47%, var(--bg-475-500) 47% 48%, var(--bg-485-500) 48% 49%, var(--bg-495-500) 49% 50%, var(--bg-505-500) 50% 51%, var(--bg-515-500) 51% 52%, var(--bg-525-500) 52% 53%, var(--bg-535-500) 53% 54%, var(--bg-545-500) 54% 55%, var(--bg-555-500) 55% 56%, var(--bg-565-500) 56% 57%, var(--bg-575-500) 57% 58%, var(--bg-585-500) 58% 59%, var(--bg-595-500) 59% 60%, var(--bg-605-500) 60% 61%, var(--bg-615-500) 61% 62%, var(--bg-625-500) 62% 63%, var(--bg-635-500) 63% 64%, var(--bg-645-500) 64% 65%, var(--bg-655-500) 65% 66%, var(--bg-665-500) 66% 67%, var(--bg-675-500) 67% 68%, var(--bg-685-500) 68% 69%, var(--bg-695-500) 69% 70%, var(--bg-705-500) 70% 71%, var(--bg-715-500) 71% 72%, var(--bg-725-500) 72% 73%, var(--bg-735-500) 73% 74%, var(--bg-745-500) 74% 75%, var(--bg-755-500) 75% 76%, var(--bg-765-500) 76% 77%, var(--bg-775-500) 77% 78%, var(--bg-785-500) 78% 79%, var(--bg-795-500) 79% 80%, var(--bg-805-500) 80% 81%, var(--bg-815-500) 81% 82%, var(--bg-825-500) 82% 83%, var(--bg-835-500) 83% 84%, var(--bg-845-500) 84% 85%, var(--bg-855-500) 85% 86%, var(--bg-865-500) 86% 87%, var(--bg-875-500) 87% 88%, var(--bg-885-500) 88% 89%, var(--bg-895-500) 89% 90%, var(--bg-905-500) 90% 91%, var(--bg-915-500) 91% 92%, var(--bg-925-500) 92% 93%, var(--bg-935-500) 93% 94%, var(--bg-945-500) 94% 95%, var(--bg-955-500) 95% 96%, var(--bg-965-500) 96% 97%, var(--bg-975-500) 97% 98%, var(--bg-985-500) 98% 99%, var(--bg-995-500) 99% 100%);
}

/* Color variables for 'light' theme, only used ones are compiled */
[data-theme=light] {
  --bg-5-500: lch(60.5035% 45.81802 244.66deg);
  --bg-15-500: lch(60.5105% 45.81806 245.86deg);
  --bg-25-500: lch(60.5175% 45.8181 247.06deg);
  --bg-35-500: lch(60.5245% 45.81814 248.26deg);
  --bg-45-500: lch(60.5315% 45.81818 249.46deg);
  --bg-55-500: lch(60.5385% 45.81822 250.66deg);
  --bg-65-500: lch(60.5455% 45.81826 251.86deg);
  --bg-75-500: lch(60.5525% 45.8183 253.06deg);
  --bg-85-500: lch(60.5595% 45.81834 254.26deg);
  --bg-95-500: lch(60.5665% 45.81838 255.46deg);
  --bg-105-500: lch(60.5735% 45.81842 256.66deg);
  --bg-115-500: lch(60.5805% 45.81846 257.86deg);
  --bg-125-500: lch(60.5875% 45.8185 259.06deg);
  --bg-135-500: lch(60.5945% 45.81854 260.26deg);
  --bg-145-500: lch(60.6015% 45.81858 261.46deg);
  --bg-155-500: lch(60.6085% 45.81862 262.66deg);
  --bg-165-500: lch(60.6155% 45.81866 263.86deg);
  --bg-175-500: lch(60.6225% 45.8187 265.06deg);
  --bg-185-500: lch(60.6295% 45.81874 266.26deg);
  --bg-195-500: lch(60.6365% 45.81878 267.46deg);
  --bg-205-500: lch(60.6435% 45.81882 268.66deg);
  --bg-215-500: lch(60.6505% 45.81886 269.86deg);
  --bg-225-500: lch(60.6575% 45.8189 271.06deg);
  --bg-235-500: lch(60.6645% 45.81894 272.26deg);
  --bg-245-500: lch(60.6715% 45.81898 273.46deg);
  --bg-255-500: lch(60.6785% 45.81902 274.66deg);
  --bg-265-500: lch(60.6855% 45.81906 275.86deg);
  --bg-275-500: lch(60.6925% 45.8191 277.06deg);
  --bg-285-500: lch(60.6995% 45.81914 278.26deg);
  --bg-295-500: lch(60.7065% 45.81918 279.46deg);
  --bg-305-500: lch(60.7135% 45.81922 280.66deg);
  --bg-315-500: lch(60.7205% 45.81926 281.86deg);
  --bg-325-500: lch(60.7275% 45.8193 283.06deg);
  --bg-335-500: lch(60.7345% 45.81934 284.26deg);
  --bg-345-500: lch(60.7415% 45.81938 285.46deg);
  --bg-355-500: lch(60.7485% 45.81942 286.66deg);
  --bg-365-500: lch(60.7555% 45.81946 287.86deg);
  --bg-375-500: lch(60.7625% 45.8195 289.06deg);
  --bg-385-500: lch(60.7695% 45.81954 290.26deg);
  --bg-395-500: lch(60.7765% 45.81958 291.46deg);
  --bg-405-500: lch(60.7835% 45.81962 292.66deg);
  --bg-415-500: lch(60.7905% 45.81966 293.86deg);
  --bg-425-500: lch(60.7975% 45.8197 295.06deg);
  --bg-435-500: lch(60.8045% 45.81974 296.26deg);
  --bg-445-500: lch(60.8115% 45.81978 297.46deg);
  --bg-455-500: lch(60.8185% 45.81982 298.66deg);
  --bg-465-500: lch(60.8255% 45.81986 299.86deg);
  --bg-475-500: lch(60.8325% 45.8199 301.06deg);
  --bg-485-500: lch(60.8395% 45.81994 302.26deg);
  --bg-495-500: lch(60.8465% 45.81998 303.46deg);
  --bg-505-500: lch(60.8535% 45.82002 304.66deg);
  --bg-515-500: lch(60.8605% 45.82006 305.86deg);
  --bg-525-500: lch(60.8675% 45.8201 307.06deg);
  --bg-535-500: lch(60.8745% 45.82014 308.26deg);
  --bg-545-500: lch(60.8815% 45.82018 309.46deg);
  --bg-555-500: lch(60.8885% 45.82022 310.66deg);
  --bg-565-500: lch(60.8955% 45.82026 311.86deg);
  --bg-575-500: lch(60.9025% 45.8203 313.06deg);
  --bg-585-500: lch(60.9095% 45.82034 314.26deg);
  --bg-595-500: lch(60.9165% 45.82038 315.46deg);
  --bg-605-500: lch(60.9235% 45.82042 316.66deg);
  --bg-615-500: lch(60.9305% 45.82046 317.86deg);
  --bg-625-500: lch(60.9375% 45.8205 319.06deg);
  --bg-635-500: lch(60.9445% 45.82054 320.26deg);
  --bg-645-500: lch(60.9515% 45.82058 321.46deg);
  --bg-655-500: lch(60.9585% 45.82062 322.66deg);
  --bg-665-500: lch(60.9655% 45.82066 323.86deg);
  --bg-675-500: lch(60.9725% 45.8207 325.06deg);
  --bg-685-500: lch(60.9795% 45.82074 326.26deg);
  --bg-695-500: lch(60.9865% 45.82078 327.46deg);
  --bg-705-500: lch(60.9935% 45.82082 328.66deg);
  --bg-715-500: lch(61.0005% 45.82086 329.86deg);
  --bg-725-500: lch(61.0075% 45.8209 331.06deg);
  --bg-735-500: lch(61.0145% 45.82094 332.26deg);
  --bg-745-500: lch(61.0215% 45.82098 333.46deg);
  --bg-755-500: lch(61.0285% 45.82102 334.66deg);
  --bg-765-500: lch(61.0355% 45.82106 335.86deg);
  --bg-775-500: lch(61.0425% 45.8211 337.06deg);
  --bg-785-500: lch(61.0495% 45.82114 338.26deg);
  --bg-795-500: lch(61.0565% 45.82118 339.46deg);
  --bg-805-500: lch(61.0635% 45.82122 340.66deg);
  --bg-815-500: lch(61.0705% 45.82126 341.86deg);
  --bg-825-500: lch(61.0775% 45.8213 343.06deg);
  --bg-835-500: lch(61.0845% 45.82134 344.26deg);
  --bg-845-500: lch(61.0915% 45.82138 345.46deg);
  --bg-855-500: lch(61.0985% 45.82142 346.66deg);
  --bg-865-500: lch(61.1055% 45.82146 347.86deg);
  --bg-875-500: lch(61.1125% 45.8215 349.06deg);
  --bg-885-500: lch(61.1195% 45.82154 350.26deg);
  --bg-895-500: lch(61.1265% 45.82158 351.46deg);
  --bg-905-500: lch(61.1335% 45.82162 352.66deg);
  --bg-915-500: lch(61.1405% 45.82166 353.86deg);
  --bg-925-500: lch(61.1475% 45.8217 355.06deg);
  --bg-935-500: lch(61.1545% 45.82174 356.26deg);
  --bg-945-500: lch(61.1615% 45.82178 357.46deg);
  --bg-955-500: lch(61.1685% 45.82182 358.66deg);
  --bg-965-500: lch(61.1755% 45.82186 359.86deg);
  --bg-975-500: lch(61.1825% 45.8219 0deg);
  --bg-985-500: lch(61.1895% 45.82194 0deg);
  --bg-995-500: lch(61.1965% 45.82198 0deg);
}

/* Color variables for 'dark' theme, only used ones are compiled */
[data-theme=dark] {
  --bg-5-500: lch(54.4375% 0.679 141.83deg);
  --bg-15-500: lch(54.4525% 0.677 144.83deg);
  --bg-25-500: lch(54.4675% 0.675 147.83deg);
  --bg-35-500: lch(54.4825% 0.673 150.83deg);
  --bg-45-500: lch(54.4975% 0.671 153.83deg);
  --bg-55-500: lch(54.5125% 0.669 156.83deg);
  --bg-65-500: lch(54.5275% 0.667 159.83deg);
  --bg-75-500: lch(54.5425% 0.665 162.83deg);
  --bg-85-500: lch(54.5575% 0.663 165.83deg);
  --bg-95-500: lch(54.5725% 0.661 168.83deg);
  --bg-105-500: lch(54.5875% 0.659 171.83deg);
  --bg-115-500: lch(54.6025% 0.657 174.83deg);
  --bg-125-500: lch(54.6175% 0.655 177.83deg);
  --bg-135-500: lch(54.6325% 0.653 180.83deg);
  --bg-145-500: lch(54.6475% 0.651 183.83deg);
  --bg-155-500: lch(54.6625% 0.649 186.83deg);
  --bg-165-500: lch(54.6775% 0.647 189.83deg);
  --bg-175-500: lch(54.6925% 0.645 192.83deg);
  --bg-185-500: lch(54.7075% 0.643 195.83deg);
  --bg-195-500: lch(54.7225% 0.641 198.83deg);
  --bg-205-500: lch(54.7375% 0.639 201.83deg);
  --bg-215-500: lch(54.7525% 0.637 204.83deg);
  --bg-225-500: lch(54.7675% 0.635 207.83deg);
  --bg-235-500: lch(54.7825% 0.633 210.83deg);
  --bg-245-500: lch(54.7975% 0.631 213.83deg);
  --bg-255-500: lch(54.8125% 0.629 216.83deg);
  --bg-265-500: lch(54.8275% 0.627 219.83deg);
  --bg-275-500: lch(54.8425% 0.625 222.83deg);
  --bg-285-500: lch(54.8575% 0.623 225.83deg);
  --bg-295-500: lch(54.8725% 0.621 228.83deg);
  --bg-305-500: lch(54.8875% 0.619 231.83deg);
  --bg-315-500: lch(54.9025% 0.617 234.83deg);
  --bg-325-500: lch(54.9175% 0.615 237.83deg);
  --bg-335-500: lch(54.9325% 0.613 240.83deg);
  --bg-345-500: lch(54.9475% 0.611 243.83deg);
  --bg-355-500: lch(54.9625% 0.609 246.83deg);
  --bg-365-500: lch(54.9775% 0.607 249.83deg);
  --bg-375-500: lch(54.9925% 0.605 252.83deg);
  --bg-385-500: lch(55.0075% 0.603 255.83deg);
  --bg-395-500: lch(55.0225% 0.601 258.83deg);
  --bg-405-500: lch(55.0375% 0.599 261.83deg);
  --bg-415-500: lch(55.0525% 0.597 264.83deg);
  --bg-425-500: lch(55.0675% 0.595 267.83deg);
  --bg-435-500: lch(55.0825% 0.593 270.83deg);
  --bg-445-500: lch(55.0975% 0.591 273.83deg);
  --bg-455-500: lch(55.1125% 0.589 276.83deg);
  --bg-465-500: lch(55.1275% 0.587 279.83deg);
  --bg-475-500: lch(55.1425% 0.585 282.83deg);
  --bg-485-500: lch(55.1575% 0.583 285.83deg);
  --bg-495-500: lch(55.1725% 0.581 288.83deg);
  --bg-505-500: lch(55.1875% 0.579 291.83deg);
  --bg-515-500: lch(55.2025% 0.577 294.83deg);
  --bg-525-500: lch(55.2175% 0.575 297.83deg);
  --bg-535-500: lch(55.2325% 0.573 300.83deg);
  --bg-545-500: lch(55.2475% 0.571 303.83deg);
  --bg-555-500: lch(55.2625% 0.569 306.83deg);
  --bg-565-500: lch(55.2775% 0.567 309.83deg);
  --bg-575-500: lch(55.2925% 0.565 312.83deg);
  --bg-585-500: lch(55.3075% 0.563 315.83deg);
  --bg-595-500: lch(55.3225% 0.561 318.83deg);
  --bg-605-500: lch(55.3375% 0.559 321.83deg);
  --bg-615-500: lch(55.3525% 0.557 324.83deg);
  --bg-625-500: lch(55.3675% 0.555 327.83deg);
  --bg-635-500: lch(55.3825% 0.553 330.83deg);
  --bg-645-500: lch(55.3975% 0.551 333.83deg);
  --bg-655-500: lch(55.4125% 0.549 336.83deg);
  --bg-665-500: lch(55.4275% 0.547 339.83deg);
  --bg-675-500: lch(55.4425% 0.545 342.83deg);
  --bg-685-500: lch(55.4575% 0.543 345.83deg);
  --bg-695-500: lch(55.4725% 0.541 348.83deg);
  --bg-705-500: lch(55.4875% 0.539 351.83deg);
  --bg-715-500: lch(55.5025% 0.537 354.83deg);
  --bg-725-500: lch(55.5175% 0.535 357.83deg);
  --bg-735-500: lch(55.5325% 0.533 0deg);
  --bg-745-500: lch(55.5475% 0.531 0deg);
  --bg-755-500: lch(55.5625% 0.529 0deg);
  --bg-765-500: lch(55.5775% 0.527 0deg);
  --bg-775-500: lch(55.5925% 0.525 360deg);
  --bg-785-500: lch(55.6075% 0.523 360deg);
  --bg-795-500: lch(55.6225% 0.521 360deg);
  --bg-805-500: lch(55.6375% 0.519 0deg);
  --bg-815-500: lch(55.6525% 0.517 360deg);
  --bg-825-500: lch(55.6675% 0.515 0deg);
  --bg-835-500: lch(55.6825% 0.513 0deg);
  --bg-845-500: lch(55.6975% 0.511 360deg);
  --bg-855-500: lch(55.7125% 0.509 0deg);
  --bg-865-500: lch(55.7275% 0.507 0deg);
  --bg-875-500: lch(55.7425% 0.505 360deg);
  --bg-885-500: lch(55.7575% 0.503 360deg);
  --bg-895-500: lch(55.7725% 0.501 360deg);
  --bg-905-500: lch(55.7875% 0.499 0deg);
  --bg-915-500: lch(55.8025% 0.497 360deg);
  --bg-925-500: lch(55.8175% 0.495 360deg);
  --bg-935-500: lch(55.8325% 0.493 0deg);
  --bg-945-500: lch(55.8475% 0.491 0deg);
  --bg-955-500: lch(55.8625% 0.489 0deg);
  --bg-965-500: lch(55.8775% 0.487 360deg);
  --bg-975-500: lch(55.8925% 0.485 0deg);
  --bg-985-500: lch(55.9075% 0.483 0deg);
  --bg-995-500: lch(55.9225% 0.481 0deg);
}

/*# sourceMappingURL=_colors.css.map */
