// ----------------------------- \\
// ~ included in _bundled.scss ~ \\
// ----------------------------- \\


@use "sass:map";
@use "sass:color";
@use "fonts" as *;





%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}



// Base rules
%bodyDefaults {
	// display: inline-flex;
	// flex-direction: column;
	// align-items: center;

	min-width: 100%;
	margin: 0;
	padding: 0;

	font-family: "gohufont", monospace;
	color: white;

	background-color: grey;
}



// Remove default styling of elements
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	font-style: unset;
	color: inherit;
	text-decoration: inherit;
}



// Custom Highlight Color
::selection {
	color: red;
	background: blue;
}






// no gogle fonts because uh neocities maybe not like idk
// @font-face {
// 	font-family: "Roboto Mono";
// 	font-weight: 1 999;
// 	font-display: block;
// 	src: url("/assets/fonts/RobotoMono.ttf") format("truetype-variations");
// }

// @font-face {
// 	font-family: "Roboto";
// 	font-weight: 1 999;
// 	font-display: block;
// 	src: url("/assets/fonts/RobotoFlex.ttf");
// }
