

<!-- htmlmin:ignore -->


{{>


const lines = [
	"    awawawa    waw            awawawa    wawawa waw     awawawa    waw awa waw    awawawa    ",
	"   wawawawaw   awaw          awawawawa   wawawawawaw   awawawawa   wawawawawawa  wawawawaw   ",
	"  awawawawawa  wawaw        awawawawawa   wawawawawaw awawawawawa  wawawawawawawawawawawawa  ",
	"  wawawawawawa wawawawawaw  awawawawawaw  awawawawawa wawawawawawa wawawawawawawawawawawawaw ",
	"  awawawawawawa wawawawawaw awawawawawawa wawawaw awa wawawawawawawawawa wawawawawawawawawawa",
	"  wawawa  wawaw  awawawawawawawawa  wawaw  awawa      wawawa  wawaw awaw  awawawawawaw  awawa",
	"   wawa   wawa    wawawawawa wawa   wawa   wawaw       awaw   awaw  awaw  awawaw awaw   awaw ",
	"  awawa  wawaw     awawawaw awawa  wawaw    awawa     wawaw  awawa   wawawawawa wawaw  awawa ",
	"  wawa  wawawa      wawawaw awaw  awawaw    awawa     wawa  wawawa   wawawawawa wawa  wawawa ",
	"  wawawawawawaw    awawawa  wawawawawawaw    awawawa  wawawawawawaw   awawawaw  awawawawawawa",
	"   wawawawawawa    wawawaw   awawawawawaw    awawawaw  awawawawawaw   awawawaw   awawawawawaw",
	"    awawawawaw      awawa     wawawawawa      wawawawa  wawawawawa     wawawa     wawawawawa ",
	"        wawaw        awaw         awawa        wawawaw      awawa       wawaw         awawa  ",
	"         waw                       awa          wawawa       waw                       awa   ",
]
const logo = lines.join("\n");

}}
{{ logo }}
<!-- htmlmin:ignore -->