<!DOCTYPE html>
<html lang="en">
<head>

	{{# Meta #}}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{# Local CSS and JS - LOAD CSS FIRST TO TRY PREVENT "Layout was forced before the page was fully loaded..." #}}
	<link rel="stylesheet" href="./main.css">
	<script src="./main.js"></script>

	{{# Display #}}
	<title>{{ title || "default title" }}</title>
	<link rel="shortcut icon" href="/images/raw/favicon.ico" type="image/x-icon">

	{{# Module : progressive image loading #}}
	<link rel="stylesheet" href="/modules/progressive_image_loading/core.css">
	<script src="/modules/progressive_image_loading/core.js"></script>


	{{# Import map for dependencies ignored in bundle #}}
	<script type="importmap">{{ importmap }}</script>


	{{# Load theme before anything else #}}
	<script>
		const theme = localStorage.getItem("theme");
		if (theme) { document.documentElement.setAttribute("data-theme", theme); }
	</script>

	{{# User defined additional head content #}}
	{{ head }}
</head>
<body>
	{{# Main content #}}
	{{ content }}

	{{# Handle the theme dropdown #}}
	<script>
		const dropdown = document.querySelector("#theme-select");
		if (dropdown){
		const dropdownValueDisplay = dropdown.querySelector("output");
		const values = [...dropdown.querySelector("ul").children];
		if (theme) {
			const result = values.find((li) => li.dataset.id === theme)?.textContent
			if (!result) { localStorage.removeItem("theme"); document.documentElement.setAttribute("data-theme", "default"); }
			dropdownValueDisplay.value = result ?? "Default"; 
		}

		values.forEach((li) => {
			li.addEventListener("mousedown", (e) => {
				localStorage.setItem("theme", li.dataset.id);
				document.documentElement.setAttribute("data-theme", li.dataset.id);
				dropdownValueDisplay.value = li.textContent;
			});
		});}
	</script>
</body>
</html>