@font-face {
	font-family: "gohu11";
	src: url("/assets/fonts/GohuFontuni11NerdFont-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

// @font-face {
// 	font-family: "gohu14";
// 	src: url("/assets/fonts/GohuFontuni14NerdFont-Regular.woff") format("woff");
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: RobotoMono;
	src: url("/assets/fonts/RobotoMono.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}