@font-face {
	font-family: "gohu11";
	src: url("/assets/fonts/gohufont-uni-11.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "gohu14";
	src: url("/assets/fonts/gohufont-uni-14.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: RobotoMono;
	src: url("/assets/fonts/RobotoMono.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
