// -------------------------------\\
// ~ forwarded in _bundled.scss ~ \\
// -------------------------------\\

@use "colors" as *;
@use "fonts" as *;

@mixin base {
	body {
		background-color: c(bg);
		color: c(fg);
		min-height: 100vh;
		font-family: RobotoMono, monospace;
	}
	a {
		color: c(hi);
		&:hover {
			color: c(hi, 700, 800);
			text-decoration-style: wavy;
		}
	}
}
