/* stylelint-disable no-duplicate-selectors */
// @use "sass:color";
// @use "sass:list";
// @use "sass:map";
// @use "sass:math";
// @use "sass:meta";
// @use "sass:selector";
// @use "sass:string";

@use "bundled.scss" as *;
@include reset;
@include base-styles;
@include target-reset(html input button, true);

/* ✿ ╟━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╢ ✿ */

// - Root Properties
$base-font-size: 22px;
$base-line-height: 1.2;

/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
// 	- Custom units in pixels based on the actual font metrics, and the base font size
// For use in places where you want to use character-based units for a different font size than the one the element has
// Otherwise, when the font size passed is the same, values will (hopefully) be identical to 1ch, 1ex, 1lh, and 1cap

// - The exact ratios for 'gohu11'
$ch-ratio: 0.53759765625;  // = 1101 (xAvgCharWidth)                                 / 2048 (unitsPerEm) = width of x
$ex-ratio: 0.45654296875;  // =  935 (sxHeight)                                      / 2048 (unitsPerEm) = height of x
$lh-ratio: 1.18408203125;  // = 2425 (sTypoAscender - sTypoDescender + sTypoLineGap) / 2048 (unitsPerEm) = line height
$cap-ratio: 0.63818359375; // = 1307 (sCapHeight)                                    / 2048 (unitsPerEm) = height of caps
// [precision calculator: https://www.mathsisfun.com/calculator-precision.html]
// [getting the font metrics: https://opentype.js.org/font-inspector.html]

// - Functions to calculate the character-based units from a font size, output is in pixels/px
@function ch($i: 1, $font-size: $base-font-size) { @return ($font-size * $ch-ratio) * $i; }   // width of x
@function ex($i: 1, $font-size: $base-font-size) { @return ($font-size * $ex-ratio) * $i; }   // height of x
@function lh($i: 1, $font-size: $base-font-size) { @return ($font-size * $lh-ratio) * $i; }   // line height
@function cap($i: 1, $font-size: $base-font-size) { @return ($font-size * $cap-ratio) * $i; } // height of X

/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
// - Helpful variables and root properties

:root {
	font-size: $base-font-size;
	line-height: $base-line-height;
}


$gap: lh(1) ch(2) ; // shorthand list for margins and paddings that are 2 characters wide and 1 line tall



.diagonal-stripes {
	width: 100%;
	box-sizing: border-box;
	height: lh(1);
	color: c(bg, 400);
	border: calc(lh(1) / 4) solid currentcolor;
	// opacity: 0.5;
	background: f_stripes(transparent, currentcolor, 50px, 135deg), f_stripes(transparent, currentcolor, 50px, 45deg);
	background-clip: content-box;
	background-origin: content-box;
	background-repeat: repeat-x;
	background-position-x: -25px;
	background-color: c(bg, 450);
}

body {
	// padding: 5vh 10vw;
	// padding: 50vw;
	width: 100vw;
	contain: paint;
	box-sizing: border-box;
	// overflow: hidden;
}

#vertical-marquees {
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: left;
	> * {
		display: flex;
		flex-direction: row;
		height: 800px;
	}
	.marquee-track > * {
		height: 100%;
		min-width: 100px;
	}
}
.t { max-width: 100%; overflow: visible; display: flex; opacity: 0.6; }

main {
	margin: 5vh 10vw;
}

#content {
	padding: 10px;
	box-sizing: border-box;
}



/* ✿ ╟━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╢ ✿ */




// /* ~~~~~ west / right-to-left scrolling animation ~~~~~ */
// .marquee.direction-west .marquee-track > *,
// .marquee.rtl .marquee-track > *,
// .marquee.W .marquee-track > *, {
// 	animation: LTRscroll var(--duration) linear infinite reverse;
// 	animation-delay: calc((var(--duration) / var(--children) * (var(--children) - var(--i) - 1)) * -1);
// }

// /* ~~~~~ (default) east / left-to-right scrolling animation ~~~~~ */
// .marquee .marquee-track > * {
// 	animation: LTRscroll var(--duration) linear infinite;
// 	animation-delay: calc((var(--duration) / var(--children) * (var(--i) + 1)) * -1);
// }
// @keyframes LTRscroll { /* from right edge of item touching left edge of viewport to far right end of track */
// 	from { transform: translateX(calc(-100% * (var(--i) + 1))); }
// 	to { transform: translateX(calc(100% * (var(--children) - var(--i) - 1))); }
// }


// /* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */

// /* ~~~~~ vertical marquees ~~~~~ */
// .marquee.direction-north .marquee-track,
// .marquee.N .marquee-track {
// 	display: grid;
// 	grid-auto-flow: row;
// 	flex-shrink: 0;
// 	justify-content: start;
// 	justify-items: center;
// 	grid-template-columns: 1fr;
// 	grid-template-rows: repeat(var(--children), 1fr);
// 	min-height: calc(100% * var(--children) / (var(--children) - 1)); // this if breaks: calc(100% * (var(--children) + 1) / var(--children));
// 	height: max-content;
// }
// .marquee.direction-north .marquee-track > *,
// .marquee.N .marquee-track > * {
// 	animation: TBscroll var(--duration) linear infinite;
// 	// animation-delay: calc((var(--duration) / var(--children) * (var(--i) + 1)) * -1);
// }


// .marquee.hover-pause:hover .marquee-track > * { animation-play-state: paused !important; }


// /* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */


// /* ~~~~~ hover highlights ~~~~~ */

// // 3 spaced pixels corner border
// .marquee.hover-highlight-1 .marquee-track > *:hover::before {
// 	content: "";
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	pointer-events: none;
// 	inset: 0;
// 	color: rgb(255 255 255 / 49.1%);

// 	--square-size: 0.3vmin;
// 	background:
// 		repeating-linear-gradient(90deg, currentcolor 0 var(--square-size)) top left,
// 		repeating-linear-gradient(180deg, currentcolor 0 var(--square-size)) top left,
// 		repeating-linear-gradient(270deg, currentcolor 0 var(--square-size)) top right,
// 		repeating-linear-gradient(180deg, currentcolor 0 var(--square-size)) top right,
// 		repeating-linear-gradient(90deg, currentcolor 0 var(--square-size)) bottom left,
// 		repeating-linear-gradient(0deg, currentcolor 0 var(--square-size)) bottom left,
// 		repeating-linear-gradient(270deg, currentcolor 0 var(--square-size)) bottom right,
// 		repeating-linear-gradient(0deg, currentcolor 0 var(--square-size)) bottom right;
// 	background-size: var(--square-size-4) var(--square-size), var(--square-size) var(--square-size-4);
// 	background-repeat: no-repeat;
// }
// .marquee:not(.N, .S, .W, .rtl, .direction-north, .direction-south, .direction-west),


// /* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */




.marquee-track > * {
	outline: 1px solid rgb(255 255 255 / 10.3%);
	outline-offset: -3px;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: c(bg, 550);
}





/* ✿ ╟━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╢ ✿ */
/*   ~~~~~   BASE MARQUEE RULES FOR ALL DIRECTIONS   ~~~~~   */


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  main marquee container  ~~~  */
.marquee {
	/* -- critical */
	/* user set */ --children: 19;

	/* -- styling */
	/* user set */ --background: rgb(0 0 0 / 20%);
	/* user set */ --gradient-color: rgb(0 0 0 / 30%);
	/* user set */ --gradient-length: 80px;
	/* user set */ --fadeout-length: 10px;
	/* user set */ --scrollbar-size: 12px;
	
	/* -- animation speed calculation */
	/* user set */ --speed: 100; /* in unitless px/s */
	/* user set or script */ --item-size: 30; /* in unitless px, width/height depending on orientation, is only needed for accurate speed calculations */
	/* computed */ --animation-distance: calc(var(--item-size) / 10 * var(--children));
	/* computed or user overrides */ --duration: calc(1s * (var(--animation-distance) / var(--speed)));

	/* user set */ --item-buffer: 16;
	/* computed */ --item-buffer-safe: max(var(--item-buffer), 1);
}
/* -- angle variables for all 4 directions, mainly for gradients */
.marquee.N, .marquee.direction-north { --direction: 0deg; /* to top */ }
.marquee.S, .marquee.direction-south { --direction: 180deg; /* to bottom */ }
.marquee.W, .marquee.direction-west, .marquee.rtl { --direction: 270deg; /* to left */ }
.marquee.E, .marquee.direction-east, .marquee.ltr { --direction: 90deg; /* to right */ }


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  viewport, area that is visible, like a window into the track  ~~~  */
.marquee .marquee-viewport {
	display: flex;
	overflow: hidden;
	position: relative;
	justify-content: flex-start;
	/* fade out opacity on edges: */
	mask-position: left;
	mask-size: 100% 100%;
	mask-image: linear-gradient(var(--direction), #0000 0%, #fff var(--fadeout-length) calc(100% - var(--fadeout-length)), #0000 100%);
}
/* shadow gradient on edges: */
.marquee-viewport::after { content: ""; position: absolute; inset: 0; pointer-events: none; background: linear-gradient(var(--direction), var(--gradient-color) 0%, transparent var(--gradient-length) calc(100% - var(--gradient-length)), var(--gradient-color) 100%); }


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  track, holds all items - if not enough content to fill the viewport, it's spaced out  ~~~  */
.marquee .marquee-viewport .marquee-track {
	display: grid;
	flex-shrink: 0;
	background-color: var(--background);
}


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  each item in the track  ~~~  */
.marquee .marquee-viewport .marquee-track > * {
	--i: var(--nth-child);
	position: relative;
	display: flex;
	flex: none;
	place-content: center center;
	place-items: center center;
	// animation-play-state: paused !important;
}
// .marquee:not([data-firefox-patch]) .marquee-viewport .marquee-track > *,
// .marquee[data-firefox-patch="1"] .marquee-viewport .marquee-track > * { box-shadow: 0 0 0 100vmax var(--background); }
// .marquee[data-firefox-patch="2"] .marquee-viewport .marquee-track > * { box-shadow: 0 0 0 100vmax transparent; }
/* .marquee[data-firefox-patch="3"] */ .marquee-viewport .marquee-track > *::after {
	content: ""; position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 1px; height: 1000vh; background-color: transparent;
}
.marquee.E .marquee-track > *::after, .marquee.direction-east .marquee-track > *::after, .marquee.ltr .marquee-track > *::after,
.marquee.W .marquee-track > *::after, .marquee.direction-west .marquee-track > *::after, .marquee.rtl .marquee-track > *::after {
	width: 1000vw; height: 1px;
}


/* ✿ ╟━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╢ ✿ */
/*   ~~~~~   HORIZONTAL MARQUEES   ~~~~~   */


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  horizontal container  ~~~ */
.marquee.n,
.marquee.direction-north,
.marquee.s, 
.marquee.direction-south {
	width: 100%;
	height: max-content;
}


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  horizontal viewport  ~~~ */
.marquee.E .marquee-viewport, .marquee.direction-east .marquee-viewport, .marquee.ltr .marquee-viewport,
.marquee.W .marquee-viewport, .marquee.direction-west .marquee-viewport, .marquee.rtl .marquee-viewport {
	width: 100%;
	justify-content: right;
}

.marquee.W .marquee-viewport, .marquee.direction-west .marquee-viewport, .marquee.rtl .marquee-viewport {
	justify-content: left;
}


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  horizontal track  ~~~  */
.marquee.E .marquee-track, .marquee.direction-east .marquee-track, .marquee.ltr .marquee-track,
.marquee.W .marquee-track, .marquee.direction-west .marquee-track, .marquee.rtl .marquee-track {
	grid-auto-flow: column;
	width: max-content;
	/* always be at least 1* item wider than the viewport: */
	min-width: calc(100% * (var(--children) / (var(--children) - var(--item-buffer-safe))));
}


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  horizontal items : left to right  ~~~ */
.marquee.E .marquee-track > *, .marquee.direction-east .marquee-track > *, .marquee.ltr .marquee-track > * {
	animation: LTRscroll var(--duration) linear infinite; 
	// animation-play-state: paused;
	animation-delay: calc((var(--duration) / var(--children) * (var(--i) + var(--item-buffer-safe) - 1)) * -1);
}
@keyframes LTRscroll {
	from { transform: translateX(calc(-100% * (var(--i) - 1))); }
	to { transform: translateX(calc(100% * (var(--children) - var(--i) + 1))); }	
}

/*  ~~~  horizontal items : right to left  ~~~ */
.marquee.W .marquee-track > *, .marquee.direction-west .marquee-track > *, .marquee.rtl .marquee-track > * {
	animation: RTLscroll var(--duration) linear infinite;
	// animation-play-state: paused;
	animation-delay: calc((var(--duration) / var(--children) * (var(--children) - var(--i))) * -1);
}
@keyframes RTLscroll {
	from { transform: translateX(calc(100% * (var(--children) - var(--i)))); }
	to { transform: translateX(calc(-100% * (var(--i)))); }
}


/* ✿ ╟━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╢ ✿ */
/*   ~~~~~   VERTICAL MARQUEES   ~~~~~   */


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  vertical container  ~~~ */
.marquee.N, .marquee.direction-north,
.marquee.S, .marquee.direction-south {
	height: 100%;
	width: max-content;
}


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  vertical viewport  ~~~ */
.marquee.N .marquee-viewport, .marquee.direction-north .marquee-viewport,
.marquee.S .marquee-viewport, .marquee.direction-south .marquee-viewport {
	width: 100%;
	height: 100%;
	align-items: start;
}

.marquee.S .marquee-viewport, .marquee.direction-south .marquee-viewport {
	align-items: end;
}

/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  vertical track  ~~~  */
.marquee.N .marquee-track, .marquee.direction-north .marquee-track,
.marquee.S .marquee-track, .marquee.direction-south .marquee-track {
	grid-auto-flow: row;
	height: max-content;
	/* always be at least 1* item taller than the viewport: */
	min-height: calc(100% * (var(--children) / (var(--children) - var(--item-buffer-safe))));
}


/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
/*  ~~~  vertical items  ~~~ */
.marquee.S .marquee-track > *, .marquee.direction-south .marquee-track > * {
	animation: SOUTHscroll var(--duration) linear infinite;
	// animation-play-state: paused;
	animation-delay: calc((var(--duration) / var(--children) * (var(--i) + var(--item-buffer-safe) - 1)) * -1);
}

.marquee.N .marquee-track > *, .marquee.direction-north .marquee-track > * {
	animation: NORTHscroll var(--duration) linear infinite;
	// animation-play-state: paused;
	animation-delay: calc((var(--duration) / var(--children) * (var(--children) - var(--i))) * -1);
}

@keyframes SOUTHscroll {
	from { transform: translateY(calc(-100% * (var(--i) - 1))); /* at top */ }
	to { transform: translateY(calc(100% * (var(--children) - var(--i) + 1))); /* below bottom */ }
}
@keyframes NORTHscroll {
	from { transform: translateY(calc(100% * (var(--children) - var(--i)))); /* at bottom */ }
	to { transform: translateY(calc(-100% * (var(--i)))); /* above top */ }
}


/* ✿ ╟━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╢ ✿ */
/*    ~~~~~   MISCELLANEOUS RULES   ~~~~~   */

// .marquee-viewport { overflow: visible !important; mask: none !important; }

/* use 'contain: paint' for clipping instead of 'overflow: hidden' if it's supported - prevents image unloading issues on firefox */
@supports (contain: paint) { .marquee-viewport { contain: paint; overflow: unset !important; } }

/* miscellaneous things that may or may not fix issues with image unloading */
.marquee-track img { backface-visibility: hidden; }
.marquee-track { transform-style: preserve-3d; }
.marquee-track > * { will-change: transform; transform: translateZ(0); }

/* removes some whitespace around images */
.marquee { vertical-align: middle; }




/* ✿ ╟━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╢ ✿ */
@include compile-colors;



// /*.marquee {
// 	--speed: 0.1s;
// 	--gradient-length: 9%;
// 	--scrollbar-height: 12px;
// 	--children: 19;
// 	overflow: visible;


// 	.marquee-viewport {
// 		height: 31px;
// 		border: 2px solid rgb(255 255 255);
// 		overflow: hidden;
// 		width: 100%;

// 		.marquee-track {
// 			display: flex;
// 			justify-content: space-around;
// 			min-width: 100%;
// 			width: max-content;
// 			> * {
// 				/* Define the per-element index */
// // 				--i: calc(var(--nth-child) - 1);

// // 				order: var(--i); /* optional if you want reordering */
// // 				display: block;

// // 				/* Define animatable property for transform offset */
				

// // 				animation: scroll var(--speed) linear infinite reverse;
// // 				animation-delay: calc(var(--speed) / var(--children) * var(--i) * -1);
// // 			}
// // 		}
// // 	}
// // }

// // .marquee.ltr .marquee-track, .marquee:not(.rtl) .marquee-track { justify-content: end; }
// // .marquee.ltr .marquee-track, .marquee:not(.rtl) .marquee-viewport { justify-content: flex-end; }
// // @keyframes LTRscroll { /* from far left end of track to left edge of item touching right edge of viewport */
// // 	from { transform: translateX(calc(-100% * (var(--i)))); }
// // 	to { transform: translateX(calc(100% * (var(--children) - var(--i)))); }
// // }
// // .marquee-track * {
// // 	will-change: transform;
// // 	transform: translateZ(0);
// // 	image-rendering: auto;
// // 	content-visibility: visible; /* stops skipping rendering */
// // }


// // @keyframes scroll {
// // 	0% { transform: translateX(calc(-100% * (var(--i) + 1))); }
// // 	100% { transform: translateX(calc(100% * (var(--children) - var(--i) - 1))); }
// // }
// //  */


// /*  ~~~  angle variables for all four directions, mainly for gradients  ~~~  */
// .marquee.N, .marquee.direction-north { --direction: 0deg; /* to top */ }
// .marquee.S, .marquee.direction-south { --direction: 180deg; /* to bottom */ }
// .marquee.W, .marquee.direction-west, .marquee.rtl { --direction: 270deg; /* to left */ }
// .marquee:not(.N):not(.S):not(.W):not(.rtl):not(.direction-north):not(.direction-south):not(.direction-west),
// .marquee.E, .marquee.direction-east, .marquee.ltr { --direction: 90deg; /* to right */ }


// /* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
// /* viewport, area that is visible, like a window into the track */
// .marquee .marquee-viewport {
// 	width: 100%;
// 	display: flex;
// 	overflow: hidden;
// 	position: relative;
// 	justify-content: flex-start;
// 	/* fade out opacity on edges: */
// 	mask-position: left;
// 	mask-size: 100% 100%;
// 	mask-image: linear-gradient(var(--direction), #0000 0%, #fff var(--fadeout-length) calc(100% - var(--fadeout-length)), #0000 100%);
// }
// /* shadow gradient on edges: */
// .marquee-viewport::after { content: ""; position: absolute; inset: 0; pointer-events: none; background: linear-gradient(var(--direction), var(--gradient-color) 0%, transparent var(--gradient-length) calc(100% - var(--gradient-length)), var(--gradient-color) 100%); }


// /* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
// /* track, contains all items - if not enough content to fill the viewport, it's spaced out */
// .marquee .marquee-viewport .marquee-track {
// 	display: grid;
// 	grid-auto-flow: column;
// 	flex-shrink: 0;
// 	min-width: calc(100% * var(--children) / (var(--children) - 1)); // this if breaks: calc(100% * (var(--children) + 1) / var(--children));
// 	width: max-content;
// 	background-color: var(--background);
// }

// /* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */

// /* each item in the track */
// .marquee .marquee-viewport .marquee-track > * {
// 	--i: var(--nth-child);
// 	position: relative;
// 	display: flex;
// 	flex: none;
// 	place-content: center center;
// 	place-items: center center;
// 	background-color: c(bg, 550);
// 	outline: 4px outset rgb(0 0 0 / 40.5%);
// 	outline-offset: -4px;
// }