/* stylelint-disable */





// ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────┐
// !                                                                                                         !
// !   WARNING: Code beyond this point has been generated via script, anything changed will be overwritten   !
// !                                                                                                         !
// └─────────────────────────────────────────────────────────────────────────────────────────────────────────┘
/* REPLACE_AFTER_THIS_LINE */

// Updated at 2025-05-30T00:13:15.809Z


// Expanded colors for bg1:
$bg1df: #00ff00;
$bg1de: #00ff00;
$bg1dd: #00ffff;
$bg1dc: #00ffff;
$bg1db: #0000ff;
$bg1da: #0000ff;
$bg1d9: #0000ff;
$bg1d8: #0000ff;
$bg1d7: #ff00ff;
$bg1d6: #ff0000;
$bg1d5: #ff0000;
$bg1d4: #ff0000;
$bg1d3: #ff0000;
$bg1d2: #ff0000;
$bg1d1: #000000;
$bg1:   #2c2347;
$bg1l1: #ffffff;
$bg1l2: #ff00ff;
$bg1l3: #ff00ff;
$bg1l4: #ff00ff;
$bg1l5: #ff0000;
$bg1l6: #ff0000;
$bg1l7: #ffff00;
$bg1l8: #ffff00;
$bg1l9: #ffff00;
$bg1la: #ffff00;
$bg1lb: #00ff00;
$bg1lc: #00ffff;
$bg1ld: #00ffff;
$bg1le: #00ffff;
$bg1lf: #00ffff;

// Expanded colors for fg1:
$fg1df: #ff00ff;
$fg1de: #ff0000;
$fg1dd: #ff0000;
$fg1dc: #ff0000;
$fg1db: #ff0000;
$fg1da: #ff0000;
$fg1d9: #000000;
$fg1d8: #000000;
$fg1d7: #00ff00;
$fg1d6: #00ff00;
$fg1d5: #00ff00;
$fg1d4: #00ff00;
$fg1d3: #00ffff;
$fg1d2: #00ffff;
$fg1d1: #00ffd8;
$fg1:   #edeae4;
$fg1l1: #ffff00;
$fg1l2: #ffff00;
$fg1l3: #00ff00;
$fg1l4: #00ffff;
$fg1l5: #00ffff;
$fg1l6: #00ffff;
$fg1l7: #00ffff;
$fg1l8: #00ffff;
$fg1l9: #ffffff;
$fg1la: #ffffff;
$fg1lb: #ffffff;
$fg1lc: #ff00ff;
$fg1ld: #ff00ff;
$fg1le: #ff00ff;
$fg1lf: #ff0000;

// Expanded colors for hi1:
$hi1df: #0000ff;
$hi1de: #0000ff;
$hi1dd: #0000ff;
$hi1dc: #ff00ff;
$hi1db: #ff0000;
$hi1da: #ff0000;
$hi1d9: #ff0000;
$hi1d8: #ff0000;
$hi1d7: #ff0000;
$hi1d6: #ff0000;
$hi1d5: #000000;
$hi1d4: #000000;
$hi1d3: #00ff00;
$hi1d2: #00ff00;
$hi1d1: #00ff00;
$hi1:   #ff2558;
$hi1l1: #ff0000;
$hi1l2: #ffff00;
$hi1l3: #ffff00;
$hi1l4: #ffff00;
$hi1l5: #ffff00;
$hi1l6: #00ff00;
$hi1l7: #00ffff;
$hi1l8: #00ffff;
$hi1l9: #00ffff;
$hi1la: #00ffff;
$hi1lb: #00ffff;
$hi1lc: #00ffff;
$hi1ld: #ffffff;
$hi1le: #ffffff;
$hi1lf: #ff00ff;

