/* stylelint-disable */


// Expanded colors for bg1:
$bg1df: #000000;
$bg1de: #000000;
$bg1dd: #000000;
$bg1dc: #000000;
$bg1db: #000000;
$bg1da: #000000;
$bg1d9: #000000;
$bg1d8: #000100;
$bg1d7: #010201;
$bg1d6: #030403;
$bg1d5: #060706;
$bg1d4: #0c0c0c;
$bg1d3: #121112;
$bg1d2: #181618;
$bg1d1: #1e1c1f;
$bg1:   #252126;
$bg1l1: #2c272d;
$bg1l2: #332c34;
$bg1l3: #3a323c;
$bg1l4: #413843;
$bg1l5: #493e4b;
$bg1l6: #504453;
$bg1l7: #584a5a;
$bg1l8: #605062;
$bg1l9: #68576b;
$bg1la: #705d73;
$bg1lb: #78637b;
$bg1lc: #806a83;
$bg1ld: #88718c;
$bg1le: #917794;
$bg1lf: #9a7e9d;

// Expanded colors for fg1:
$fg1df: #6a768b;
$fg1de: #727d91;
$fg1dd: #7a8497;
$fg1dc: #838c9d;
$fg1db: #8b93a2;
$fg1da: #949ba8;
$fg1d9: #9ca3ae;
$fg1d8: #a5aab4;
$fg1d7: #aeb2ba;
$fg1d6: #b7bac0;
$fg1d5: #c0c2c6;
$fg1d4: #c8cacc;
$fg1d3: #d2d2d2;
$fg1d2: #dbdad8;
$fg1d1: #e4e2de;
$fg1:   #edeae4;
$fg1l1: #f6f2ea;
$fg1l2: #fffbf0;
$fg1l3: #fffff6;
$fg1l4: #fffffc;
$fg1l5: #ffffff;
$fg1l6: #ffffff;
$fg1l7: #ffffff;
$fg1l8: #ffffff;
$fg1l9: #ffffff;
$fg1la: #ffffff;
$fg1lb: #ffffff;
$fg1lc: #ffffff;
$fg1ld: #ffffff;
$fg1le: #ffffff;
$fg1lf: #ffffff;

// Expanded colors for hi1:
$hi1df: #680006;
$hi1de: #71000b;
$hi1dd: #7b0010;
$hi1dc: #850015;
$hi1db: #8e001b;
$hi1da: #980020;
$hi1d9: #a20025;
$hi1d8: #ac002b;
$hi1d7: #b60030;
$hi1d6: #c10036;
$hi1d5: #cb003b;
$hi1d4: #d50041;
$hi1d3: #df0047;
$hi1d2: #ea054c;
$hi1d1: #f41952;
$hi1:   #ff2558;
$hi1l1: #ff2f5e;
$hi1l2: #ff3964;
$hi1l3: #ff426a;
$hi1l4: #ff4a70;
$hi1l5: #ff5276;
$hi1l6: #ff5a7c;
$hi1l7: #ff6282;
$hi1l8: #ff6a88;
$hi1l9: #ff728e;
$hi1la: #ff7995;
$hi1lb: #ff819b;
$hi1lc: #ff89a1;
$hi1ld: #ff90a8;
$hi1le: #ff98ae;
$hi1lf: #ffa0b4;

