/* stylelint-disable */





// ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────┐
// !                                                                                                         !
// !   WARNING: Code beyond this point has been generated via script, anything changed will be overwritten   !
// !                                                                                                         !
// └─────────────────────────────────────────────────────────────────────────────────────────────────────────┘
/* REPLACE_AFTER_THIS_LINE */

// Updated at 2025-06-11T14:48:22.964Z


// Expanded colors for bg7:
$bg7d9: #a7a07d;
$bg7d8: #b1a985;
$bg7d7: #bcb28d;
$bg7d6: #c7bb95;
$bg7d5: #d2c49e;
$bg7d4: #ddcda6;
$bg7d3: #e8d6af;
$bg7d2: #f4e0b8;
$bg7d1: #ffe9c1;
$bg7:   #ffe9c1;
$bg7l1: #fff2ca;
$bg7l2: #fffcd3;
$bg7l3: #ffffdd;
$bg7l4: #ffffe6;
$bg7l5: #fffff0;
$bg7l6: #fffffa;
$bg7l7: #ffffff;
$bg7l8: #ffffff;
$bg7l9: #ffffff;

// Expanded colors for bg8:
$bg8d9: #a17927;
$bg8d8: #ac8131;
$bg8d7: #b8893b;
$bg8d6: #c39145;
$bg8d5: #cf994e;
$bg8d4: #dba258;
$bg8d3: #e7aa62;
$bg8d2: #f3b26c;
$bg8d1: #ffbb76;
$bg8:   #ffbb76;
$bg8l1: #ffc480;
$bg8l2: #ffcc8b;
$bg8l3: #ffd595;
$bg8l4: #ffdea0;
$bg8l5: #ffe7ab;
$bg8l6: #fff0b6;
$bg8l7: #fff9c2;
$bg8l8: #ffffcd;
$bg8l9: #ffffd9;

// Expanded colors for bg9:
$bg9d9: #a35b14;
$bg9d8: #ae6323;
$bg9d7: #b96b30;
$bg9d6: #c4733b;
$bg9d5: #d07b47;
$bg9d4: #db8352;
$bg9d3: #e78b5d;
$bg9d2: #f29469;
$bg9d1: #fe9c74;
$bg9:   #fe9c74;
$bg9l1: #ffa480;
$bg9l2: #ffad8b;
$bg9l3: #ffb697;
$bg9l4: #ffbfa3;
$bg9l5: #ffc7af;
$bg9l6: #ffd0bc;
$bg9l7: #ffdac8;
$bg9l8: #ffe3d5;
$bg9l9: #ffece2;

// Expanded colors for bga:
$bgad9: #a50000;
$bgad8: #b00000;
$bgad7: #bb0000;
$bgad6: #c71306;
$bgad5: #d22220;
$bgad4: #dd2e32;
$bgad3: #e93941;
$bgad2: #f44350;
$bgad1: #ff4d5e;
$bga:   #ff4d5e;
$bgal1: #ff576c;
$bgal2: #ff607a;
$bgal3: #ff6a89;
$bgal4: #ff7497;
$bgal5: #ff7da6;
$bgal6: #ff87b5;
$bgal7: #ff91c4;
$bgal8: #ff9bd3;
$bgal9: #ffa5e2;

// Expanded colors for bgb:
$bgbd9: #8d0000;
$bgbd8: #980000;
$bgbd7: #a3000d;
$bgbd6: #ad001f;
$bgbd5: #b8002e;
$bgbd4: #c3003c;
$bgbd3: #ce004a;
$bgbd2: #d80057;
$bgbd1: #e31a65;
$bgb:   #e31a65;
$bgbl1: #ee2a73;
$bgbl2: #f83881;
$bgbl3: #ff448f;
$bgbl4: #ff4f9e;
$bgbl5: #ff5aac;
$bgbl6: #ff65bb;
$bgbl7: #ff70ca;
$bgbl8: #ff7ad9;
$bgbl9: #ff85e9;

// Expanded colors for bgc:
$bgcd9: #700006;
$bgcd8: #7a0013;
$bgcd7: #840020;
$bgcd6: #8f002c;
$bgcd5: #990038;
$bgcd4: #a30044;
$bgcd3: #ad0051;
$bgcd2: #b7005d;
$bgcd1: #c1126a;
$bgc:   #c1126a;
$bgcl1: #cb2377;
$bgcl2: #d53184;
$bgcl3: #de3c92;
$bgcl4: #e848a0;
$bgcl5: #f152ae;
$bgcl6: #fb5dbc;
$bgcl7: #ff68ca;
$bgcl8: #ff72d9;
$bgcl9: #ff7ce8;

// Expanded colors for bgd:
$bgdd9: #480007;
$bgdd8: #520011;
$bgdd7: #5c001b;
$bgdd6: #650025;
$bgdd5: #6f0030;
$bgdd4: #79003b;
$bgdd3: #820046;
$bgdd2: #8c0051;
$bgdd1: #950c5d;
$bgd:   #950c5d;
$bgdl1: #9e1c69;
$bgdl2: #a82875;
$bgdl3: #b13382;
$bgdl4: #ba3d8f;
$bgdl5: #c3489c;
$bgdl6: #cc52a9;
$bgdl7: #d45cb6;
$bgdl8: #dd66c4;
$bgdl9: #e670d1;

// Expanded colors for bg1:
$bg1d9: #a50000;
$bg1d8: #b00000;
$bg1d7: #bb0000;
$bg1d6: #c71306;
$bg1d5: #d22220;
$bg1d4: #dd2e32;
$bg1d3: #e93941;
$bg1d2: #f44350;
$bg1d1: #ff4d5e;
$bg1:   #ff4d5e;
$bg1l1: #ff576c;
$bg1l2: #ff607a;
$bg1l3: #ff6a89;
$bg1l4: #ff7497;
$bg1l5: #ff7da6;
$bg1l6: #ff87b5;
$bg1l7: #ff91c4;
$bg1l8: #ff9bd3;
$bg1l9: #ffa5e2;

// Expanded colors for fg1:
$fg1d9: #adaba5;
$fg1d8: #b7b5ae;
$fg1d7: #c0beb7;
$fg1d6: #cbc8c0;
$fg1d5: #d5d1c9;
$fg1d4: #dfdbd2;
$fg1d3: #eae4db;
$fg1d2: #f4eee4;
$fg1d1: #fff8ed;
$fg1:   #fff8ed;
$fg1l1: #fffff6;
$fg1l2: #ffffff;
$fg1l3: #ffffff;
$fg1l4: #ffffff;
$fg1l5: #ffffff;
$fg1l6: #ffffff;
$fg1l7: #ffffff;
$fg1l8: #ffffff;
$fg1l9: #ffffff;

// Expanded colors for fg2:
$fg2d9: #9dafac;
$fg2d8: #a6b9b5;
$fg2d7: #afc3be;
$fg2d6: #b8ccc7;
$fg2d5: #c1d6d0;
$fg2d4: #cae0da;
$fg2d3: #d4ebe3;
$fg2d2: #ddf5ec;
$fg2d1: #e7fff5;
$fg2:   #e7fff5;
$fg2l1: #f1fffe;
$fg2l2: #fbffff;
$fg2l3: #ffffff;
$fg2l4: #ffffff;
$fg2l5: #ffffff;
$fg2l6: #ffffff;
$fg2l7: #ffffff;
$fg2l8: #ffffff;
$fg2l9: #ffffff;

// Expanded colors for hi1:
$hi1d9: #a60000;
$hi1d8: #b20000;
$hi1d7: #bd0004;
$hi1d6: #c8001d;
$hi1d5: #d3002f;
$hi1d4: #de003e;
$hi1d3: #e9004d;
$hi1d2: #f4005c;
$hi1d1: #ff026b;
$hi1:   #ff026b;
$hi1l1: #ff217a;
$hi1l2: #ff3289;
$hi1l3: #ff4098;
$hi1l4: #ff4da7;
$hi1l5: #ff59b7;
$hi1l6: #ff65c6;
$hi1l7: #ff70d6;
$hi1l8: #ff7be6;
$hi1l9: #ff86f7;

