// -------------------------------\\
// ~ forwarded in _bundled.scss ~ \\
// -------------------------------\\
@use "sass:map";
@use "sass:color";
@use "colors.scss" as *;



// Custom Fonts
@font-face {
	font-family: "Roboto Mono";
	font-weight: 1 999;
	font-display: block;
	src: url("/media/fonts/RobotoMono.ttf") format("truetype-variations");
}

@font-face {
	font-family: Roboto;
	font-weight: 1 999;
	font-display: block;
	src: url("/media/fonts/RobotoFlex.ttf");
}

@font-face {
	font-family: "win98";
	font-weight: 400;
	font-display: block;
	src: url("/media/fonts/Windows Regular.ttf");
}

@font-face {
	font-family: Terminal;
	font-weight: 400;
	font-display: block;
	src: url("./media/fonts/gohufont-11.ttf");
}

$main-font: "Roboto", sans-serif;





%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}



// Default Base CSS
%bodyDefaults {
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	min-width: 100%;
	margin: 0;
	padding: 0;

	font-family: $main-font;
	color: $fg-1;

	background-color: $bg-1;
}



// Remove default styling of elements
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	font-style: unset;
	color: inherit;
	text-decoration: inherit;
}

// Custom Highlight Color
::selection {
	color: $selection-fg;
	background: $selection-bg;
}







// Home Button [removed kinda]
// .homebutton{position:absolute;top:0;left:0;z-index:1;margin:5px;color:inherit;text-decoration:none;cursor:pointer;user-select:none;transition:transform 200ms,color 200ms}
// .homebutton:hover {	color: var(--hicolor); transform: scale(1.1); }
// .homebutton i {	font-size: 3em; }
// outline: 0.05em dashed #ffffff75 ;
// outline-offset: -0.2em;
// box-shadow: inset -1px -1px #0a0a0a,
// inset 1px 1px #fff,
// inset -2px -2px grey,
// inset 2px 2px #dfdfdf;
