---
//import { util } from '../app-root';
import BaseTemplate from "../components/Base.astro"
---
<BaseTemplate>
	<style slot="head">
		body {
			color: #ead4d4;
			background-color: rgb(56, 49, 49);
		}
	</style>


	<p>hello</p>

</BaseTemplate>