@use "sass:color";
@use "sass:math";
@use "sass:map";
@use "sass:string";
@use "sass:meta";
@use "sass:list";

// Color parameter map: variable name (no $) => config


// Default parameter object

/* start */
$fg: #ed7093;
$hi: #06d4d4;
$bg: #4a425e;
/* end */


// How much to adjust each color type by, and min/max (multiplied by n-500)
$themes: (
	light: (
		fg: (color: #ed7093, l: 0.00155, c: 0.0002, h: 0.12), 
		hi: (color: #06d4d4, l: 0.001, c: 0.0003, h: -0.01, lmin: 0), 
		bg: (color: #4a425e, l: 0.0007, c: -0.000004, h: 0.12),
	),
	dark: (
		fg: (color: #4ca333, ), 
		hi: (color: #a8c346, ), 
		bg: (color: #a361af, h: 0.3)
	)
);

// Default values for $adjustment params if not specified
$DEFAULT-color-options: (
	/* Lightness adjustment factor: */ l: 0.0015,
	/*    Chroma adjustment factor: */ c: 0.0002,
	/*       Hue adjustment factor: */ h: 0.12,
	/*           Minimum lightness: */ lmin: 0,
	/*           Maximum lightness: */ lmax: 1, 
	/*              Minimum chroma: */ cmin: 0,
	/*              Maximum chroma: */ cmax: 0.37,
	/*     Minimum hue, in degrees: */ hmin: -360,
	/*     Maximum hue, in degrees: */ hmax: 360,
	variables: [],
);

// Fill in default values for each color type in each theme using $DEFAULT-adjustment-params
@each $theme, $colors in $themes { @each $type, $options in $colors { @each $key, $default in $DEFAULT-color-options { @if not map.has-key($options, $key) { $options: map.merge($options, ($key: $default)); } }		$colors: map.merge($colors, ($type: $options)); }	$themes: map.merge($themes, ($theme: $colors)); }


$colorsToCompile: ();
@each $theme-id, $colors in $themes { $colorsToCompile: map.set($colorsToCompile, $theme-id, []); }


@function cl($id, $number, $lightness: 500) {



	// Generate colors for each theme 
	$colorsGenerated: ();
	@each $theme-id, $color-types in $themes {
		$color-options: map.get($color-types, $id);
		$color: map.get($color-options, color);
		
		$l: map.get($color-options, l); $lmin: map.get($color-options, lmin); $lmax: map.get($color-options, lmax);
		$c: map.get($color-options, c); $cmin: map.get($color-options, cmin); $cmax: map.get($color-options, cmax);
		$h: map.get($color-options, h); $hmin: map.get($color-options, hmin); $hmax: map.get($color-options, hmax);	
		
		$L: math.clamp($lmin * 100%, color.channel($color, "lightness", $space: lch) + (($number - 500) * $l), $lmax * 100%);
		$C: math.clamp($cmin, color.channel($color, "chroma", $space: lch) + ((500 - $number) * $c), $cmax);
		$H: math.clamp($hmin * 1deg, color.channel($color, "hue", $space: lch) + (($number - 500) * $h), $hmax * 1deg);

		$out-color: color.change(lch(0% 0 0deg), $lightness: $L, $chroma: $C, $hue: $H, $space: oklch);
		$out-color: color.scale($color, $lightness: (($lightness - 500) * 0.001) * 100%, $space: oklch);
		
		$colorsGenerated: map.merge($colorsGenerated, ($theme-id: $out-color));
	}

	@debug $colorsGenerated;

	$varname: var(--#{$id}-#{$number}-#{$lightness});
	// $colorsToCompile: list.append($colorsToCompile, (variable: $varname, colors: $colorsGenerated)) !global;
	 
	// $color: red;
	// Add variable to global list to be compiled later and return what the variable name will be
	@return $varname; 
}


body { background-color: cl(bg, 500); }
@debug $colorsToCompile;
