@charset "UTF-8";
/* 
┌─────────────────────────────────────────────────────────────────────────────────────────────────────────┐
!                                                                                                         !
!   WARNING: Code beyond this point has been generated via script, anything changed will be overwritten   !
?   [file://./generate-colors.js]                                                                         ?
!                                                                                                         !
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘
617761 */
@font-face {
  font-family: "Roboto Mono";
  src: url("/media/fonts/RobotoMono.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/media/fonts/RobotoFlex.ttf");
  font-weight: 1 999;
  font-display: swap;
}
@font-face {
  font-family: "win98";
  src: url("/media/fonts/Windows Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
body {
  background-color: #1e1c1f;
  color: #e2e0db;
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-style: unset;
  color: inherit;
  text-decoration: inherit;
}

::selection {
  color: #ffffff;
  background: #ff0000;
}

#button-home::after {
  mask-image: url(/media/images/icon_home.png);
}

#button-heart::after {
  mask-image: url(/media/images/icon_heart.png);
}

#button-oneko::after {
  mask-image: url(/media/images/icon_oneko.png);
}

.title-bar-container {
  font-family: win98;
  width: 100%;
  font-size: 1.5em;
  height: 2.5em;
}
.title-bar-container .title-bar {
  box-shadow: inset 0.05em 0.05em 0 0 rgb(114.2, 106.4, 122.2), inset 0.1em 0.1em 0 0 rgb(151.8, 144, 159.8), inset -0.05em -0.05em 0 0 rgb(23.8, 16, 31.8), inset -0.1em -0.1em 0 0 rgb(69.4, 61.6, 77.4), 0 -10px 7px 10px rgba(0, 0, 0, 0.5019607843);
  background: linear-gradient(90deg, #77509f 0%, rgb(205, 106, 199) 35%, rgb(243, 213, 180) 100%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.2em;
  padding-left: 0.5em;
}
.title-bar-container .title-bar > p {
  margin-right: auto;
}
.title-bar-container .title-bar .title-bar-button {
  margin: 0.1em;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  height: calc(100% - 0.2em);
  cursor: pointer;
  transition: all 20ms;
  background-color: #9862b1;
  box-shadow: inset 0.05em 0.05em 0 0 rgb(132.5, 105.5, 145), inset 0.1em 0.1em 0 0 rgb(156, 129, 168.5), inset -0.05em -0.05em 0 0 rgb(76, 49, 88.5), inset -0.1em -0.1em 0 0 rgb(104.5, 77.5, 117);
}
.title-bar-container .title-bar .title-bar-button:hover {
  background-color: #bc7cd5;
}
.title-bar-container .title-bar .title-bar-button::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: sticky;
  mask-size: 70%;
  mask-position: center;
  mask-repeat: no-repeat;
  image-rendering: pixelated;
  background-color: #e2e0db;
}
.title-bar-container .title-bar .title-bar-button::after:hover {
  background-color: #ebe8e1;
}
.title-bar-container .title-bar .title-bar-button:active, .title-bar-container .title-bar .title-bar-button.active {
  box-shadow: inset 0.05em 0.05em 0 0 rgb(67.5, 42.5, 79.5), inset 0.1em 0.1em 0 0 #60476c, inset -0.05em -0.05em 0 0 rgb(147.5, 122.5, 159.5), inset -0.1em -0.1em 0 0 #7c6388;
  background-color: #663c7d;
}
.title-bar-container .title-bar .title-bar-button:active:hover, .title-bar-container .title-bar .title-bar-button.active:hover {
  background-color: #87559f;
}
.title-bar-container .title-bar .title-bar-button:active::after, .title-bar-container .title-bar .title-bar-button.active::after {
  mask-size: 65%;
  background-color: #adb0b7;
}
.title-bar-container .title-bar .title-bar-button:active::after:hover, .title-bar-container .title-bar .title-bar-button.active::after:hover {
  background-color: #ffc0ff;
}
