// Imports
@use "bundled" as *;

body {
	background-image: url("./assets/images/snow.webp");
	color: red;
	@extend %bodyDefaults;
	text-decoration: dashed;
	text-decoration-color: red;
	text-decoration-thickness: 2px;
}
