@charset "UTF-8";
/* 
┌─────────────────────────────────────────────────────────────────────────────────────────────────────────┐
!                                                                                                         !
!   WARNING: Code beyond this point has been generated via script, anything changed will be overwritten   !
?   [generate-colors.js]                                                                                  ?
!                                                                                                         !
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘
617761 */
@font-face {
  font-family: "Roboto Mono";
  src: url("/media/fonts/RobotoMono.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-display: block;
}
@font-face {
  font-family: "Roboto";
  src: url("/media/fonts/RobotoFlex.ttf");
  font-weight: 1 999;
  font-display: block;
}
@font-face {
  font-family: "win98";
  src: url("/media/fonts/Windows Regular.ttf");
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Terminal";
  src: url("./media/fonts/gohufont-11.ttf");
  font-weight: 400;
  font-display: block;
}
body {
  background-color: #1e1c1f;
  color: #e2e0db;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-style: unset;
  color: inherit;
  text-decoration: inherit;
}

::selection {
  color: #ffffff;
  background: #ff0000;
}

.blink::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
}

.unhideRandom {
  display: flex;
  flex-direction: row;
}

#corners * {
  width: 10px;
  height: 10px;
  --gradient: #0000 40%, rgba(255, 255, 255, 0.173) 0 60%, #0000 0;
  margin: 10px;
  background: linear-gradient(0, var(--gradient)), linear-gradient(90deg, var(--gradient));
  position: absolute;
  bottom: 0;
}
#corners *:nth-child(1) {
  top: 0;
  left: 0;
}
#corners *:nth-child(2) {
  top: 0;
  right: 0;
}
#corners *:nth-child(3) {
  bottom: 0;
  left: 0;
}
#corners *:nth-child(4) {
  bottom: 0;
  right: 0;
}

#container {
  display: inline-flex;
  flex-direction: column;
  max-width: min-content;
  min-width: 0px;
  margin: 60px 35px 200px;
  background-color: #252126;
  box-shadow: 0 0 0 36px #252126, 3px 3px 0 39px #070806, 0 0 0 42px #39333c, 3px 3px 0 45px #121112, 0 0 0 48px #2b272d, 50px 50px 100px 0px rgba(0, 0, 0, 0.234);
}
#container > * {
  font-family: Terminal;
  text-shadow: 0 0 4px;
  background: radial-gradient(circle, #1a1825 0%, #070c12 100%);
  position: relative;
  padding: 10px;
  box-shadow: 3px 3px 0 3px #2b272d, 0 0 0 6px #121112, inset 50px 50px 100px 0 rgba(0, 0, 0, 0.34);
}
#container > *::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(18, 16, 16, 0.1098039216) 50%, rgba(0, 0, 0, 0.1450980392) 50%), linear-gradient(to right, rgba(255, 0, 0, 0.0588235294), rgba(0, 255, 0, 0.0196078431), rgba(0, 0, 255, 0.0588235294)), linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.0901960784) 50%);
  background-size: 100% 2px, 3px 100%, 100% 16px;
}
#container > *:not(:first-child) {
  margin-top: 42px;
}

#pageList {
  font-family: Terminal;
  text-shadow: 0 0 4px;
  background: radial-gradient(circle, #1a1825 0%, #070c12 100%);
  position: relative;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#pageList::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(18, 16, 16, 0.1098039216) 50%, rgba(0, 0, 0, 0.1450980392) 50%), linear-gradient(to right, rgba(255, 0, 0, 0.0588235294), rgba(0, 255, 0, 0.0196078431), rgba(0, 0, 255, 0.0588235294)), linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.0901960784) 50%);
  background-size: 100% 2px, 3px 100%, 100% 16px;
}
#pageList .title {
  color: #ff2558;
}
#pageList .links {
  display: flex;
  flex-direction: column;
  white-space: pre;
}
#pageList .links a {
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  cursor: pointer;
}
#pageList .links a:hover, #pageList .links a:focus-within, #pageList .links a:focus {
  background-color: #ff2558;
  box-shadow: #ff2558 0 0 10px;
}
#pageList .links a:hover, #pageList .links a:hover *, #pageList .links a:focus-within, #pageList .links a:focus-within *, #pageList .links a:focus, #pageList .links a:focus * {
  color: #1e1c1f;
  text-decoration-color: rgba(0, 0, 0, 0);
}
#pageList .links u {
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.7);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
#pageList #logo-text {
  white-space: pre;
  line-height: 1ch;
}
#pageList #logo-text .a {
  color: #ff5b81;
}
#pageList #logo-text .b {
  color: #ff4375;
}
#pageList #logo-text .c {
  color: #ff2558;
}
#pageList #logo-text .d {
  color: rgba(206, 59, 214, 0.2509803922);
}
#pageList #logo-text .e {
  color: rgba(205, 57, 200, 0.1294117647);
}

#links {
  font-family: "Roboto Mono";
  line-height: 1ch;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 20px;
}
#links * {
  white-space: pre;
  display: flex;
}
#links a:not(.no-underline) {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}
#links a:hover, #links a:focus-within {
  color: #ff5b81;
  text-decoration-color: rgba(0, 0, 0, 0);
}
#links .divider {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1843137255) 0% 20%, rgba(0, 0, 0, 0) 20% 40%, rgba(255, 255, 255, 0.1843137255) 40% 60%, rgba(0, 0, 0, 0) 60% 80%, rgba(255, 255, 255, 0.1843137255) 80% 100%);
  margin: 0 10px;
  height: 10px;
  width: 2px;
}

#barcode {
  display: inline-flex;
}
#barcode > div {
  display: inline-flex;
  height: 15px;
  flex-grow: 1;
}
#barcode > div > div {
  display: inline-flex;
  width: 50%;
  margin-left: 50%;
  color: rgba(255, 37, 88, 0.7);
  background-color: currentColor;
  box-shadow: 0 0 10px currentColor;
}

#sorting {
  color: rgba(255, 255, 255, 0.7);
  font-family: Terminal;
  text-shadow: 0 0 4px;
  background: radial-gradient(circle, #1a1825 0%, #070c12 100%);
  position: relative;
  flex-direction: column;
  padding: 10px;
  box-shadow: f_98shadow_full(), inset 50px 50px 100px 0 rgba(0, 0, 0, 0.34), 50px 50px 100px 0px rgba(0, 0, 0, 0.234);
}
#sorting::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(18, 16, 16, 0.1098039216) 50%, rgba(0, 0, 0, 0.1450980392) 50%), linear-gradient(to right, rgba(255, 0, 0, 0.0588235294), rgba(0, 255, 0, 0.0196078431), rgba(0, 0, 255, 0.0588235294)), linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.0901960784) 50%);
  background-size: 100% 2px, 3px 100%, 100% 16px;
}
#sorting, #sorting * {
  display: flex;
  white-space: pre;
}
#sorting div {
  color: rgba(255, 255, 255, 0.2);
}
#sorting #sortingBars {
  align-items: end;
  font-size: 1px;
}
#sorting #sortingBars * {
  box-sizing: initial;
  padding-bottom: 10em;
  content: "";
  background-color: #ff2558;
  color: #ff2558;
  box-shadow: 0 0 10px currentColor;
  flex-grow: 1;
}

/*
b {
	font-size: 100%;
}
span {
	outline: 1px solid rgba(255, 255, 255, 0.005);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

span {
	animation: fadeIn;
	animation-timing-function: step-end;
}

.blink::after {
	content: "|";
	animation: blink 1s step-end infinite;
}
@keyframes blink {
	50% {
		opacity: 0;
	}
}
body {
	font-family: win98;
	background-color: #1e1c1f;
	color: rgb(194, 194, 194);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 40px;

	font-size: 10px;
}
canvas {
	display: none;
	image-rendering: pixelated;
	width: 100%;
}
#output {
	white-space: pre;
	line-height: 1ch;
}
#main-title {
	.-header {
		width: 100%;
		background-color: gray;
		display: flex;
		justify-content: right;
	}
	.-text {
		font-size: 0.5rem;

		white-space: pre;
		line-height: 1ch;
		font-family: "Terminal";

		.a {
			color: #ff305d;
		}
		.b {
			color: #d6103b;
		}
		.c {
			color: #fa1a4b;
		}
		.d {
			color: #b228b940;
		}
		.e {
			color: #b725b221;
		}
		padding: 0px;
		margin-top: 2ch;
		margin-left: 2ch;
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	height: max-content;
	background-color: #00000042;
	border: 2px solid rgb(84, 84, 84);
	margin-top: 40px;
}

// Page List
// #page-list {
// 	display: flex;
// 	flex-wrap: wrap;
// 	gap: 2em;

// 	font-size: smaller;
// 	padding: 4em;
// 	width: 100%;
// 	// max-width: 1000px;
// 	box-sizing: border-box;

// 	.page {
// 		position: relative;
// 		font-family: "Roboto Mono", monospace;
// 		cursor: pointer;

// 		flex-grow: 1;
// 		display: flex;
// 		flex-direction: column;
// 		box-shadow: 0 0 40px 10px $bg-1;

// 		&::after, &::before, & a {
// 			transition: ease-in-out 120ms;
// 			transition-property: height margin-top background-color;
// 		}

// 		&::after, a {
// 			outline: 4px solid $hi-1d8;
// 		}

// 		a {

// 			padding: {
// 				left: 1.3em;
// 				right: 1.3em;
// 				top: 0.8em;
// 				bottom: 15px;
// 			}

// 			box-shadow: 0 0 10px 0 #000000eb;
// 			background-color: $hi-1;

// 			&:hover {

// 				background-color: $hi-1dd;
// 			}
// 			&::before {
// 				transition: top 120ms ease-in-out;

// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100%;
// 				height: calc(100% - 15px);

// 				outline: transparent dashed 3px;
// 				outline-offset: -0.5em;
// 				content: "";
// 				white-space: pre;
// 			}

// 		}

// 		&::after {
// 			content: "";
// 			height: 15px;
// 			z-index: -1;
// 			background: stripes($hi-1d8, $hi-1da, 0.5em);

// 		}

// 		&::before {
// 			content: "";
// 			height: 0;
// 		}

// 		&:hover {
// 			//transform: translateY(15px);
// 			&::after { margin-top: -15px; }
// 			&::before { height: 15px;}
// 			a::before {
// 				top: 15px;
// 				outline-color: rgba($fg-1, 0.2);
// 			}
// 			color: $fg-1d2;

// 			text-decoration-color: rgba($fg-1d2, 0.5);
// 			// outline: rgba($fg-3l5, 0.3) 0.2em dashed;
// 			// transition: all 60ms ease-in-out;
// 		}

// 		// Zoom in border when clicked
// 		// outline-offset: -0.8em;
// 		// transition: all 300ms linear, outline 100ms linear, outline-offset 1000ms linear;

// 		// &:active a::before, &:focus-within a::before {
// 		// 	transition: outline-offset 1200ms ease-in, outline-width 7000ms ease-in, outline-color 350ms ease-in, border-radius 1200ms ease-in;
// 		// 	outline-offset: 200vmax;
// 		// 	outline-width: 1000px;
// 		// 	outline-color: $fg-1;
// 		// 	border-radius: 100%;
// 		// 	cursor: progress;
// 		// }

// 		color: $fg-1;
// 		text-decoration-color: rgba($fg-1, 0.5);
// 		.title {
// 			font-size: 2em;
// 			font-weight: bold;

// 			text-decoration-line: underline;
// 			text-decoration-thickness: 0.15px;
// 			text-decoration-skip-ink: unset;
// 			text-decoration-color: inherit;
// 		}

// 		.desc {
// 			font-weight: 300;
// 		}
// 	}

// }

// Header
// .title-bar {
// 	width: 100%;
// 	padding: 6px;
// 	box-sizing: border-box;

// 	div {
// 		@extend %flex-center;
// 		@include

// 		font-size: x-large;
// 		font-family: win98;

// 		box-sizing: border-box;
// 		padding: 15px;
// 		width: 100%;
// 		height: 2em;

// 		background: linear-gradient(90deg, rgba(119, 80, 159, 1) 0%, rgba(205, 106, 199, 1) 40%, rgba(243, 213, 180, 1) 100%);
// 	}

// 	p {
// 		margin-right: auto;
// 		margin-left: 15px;
// 	}

// 	.title-bar-button {
// 		@extend %flex-center;
// 		@include raisedEffect();

// 		background-color: $bg-1;
// 		border: 1.5px solid #0000000d;

// 		height: 100%;
// 		aspect-ratio: 1 / 1;
// 		margin-left: 4px;

// 		font-size: 0.5em;
// 		transition: all 100ms;

// 		&:hover { background-color: $bg-1l1; }

// 		&:active,
// 		&.active {
// 			@include raisedEffect();

// 			font-size: 0.5em;
// 			background-color: $bg-1l2;

// 			min-height: 100%;
// 			aspect-ratio: 1 / 1;

// 			position: relative;
// 			transform: translate(0.15px, 0.15px);
// 			transition: all 5ms;

// 			&:hover { background-color: $bg-1l3; }
// 		}

// 		&::after {
// 			@extend %flex-center;

// 			mask-size: 90%;
// 			mask-position: center;
// 			mask-repeat: no-repeat;
// 			content: "";

// 			background-color: $fg-1;
// 			image-rendering: optimizeSpeed;

// 			width: 70%;
// 			height: 70%;

// 		}
// 		&:active::after,
// 		&.active::after {
// 			background-color: $fg-1l2;
// 		}
// 	}
// }

/* #region Pages */
/* #region Falling Hearts */
/* .heart {
	position: fixed;
	font-size: calc(1vw * 1vh);
	width: 4em;
	height: 4em;
	position: fixed;
	/* top: -2em; /
	pointer-events: none;
	display: flex;
	align-items: center;
	z-index: 1;
	justify-content: center;
}
svg {
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.heart,
.heart * {
	position: fixed;
	font-size: inherit;
	width: 11em;
	height: 11em;
}

.heart {
	top: -10em;
	left: 0;
	transition: all 100ms linear;
}
.heart * {
	width: 100%;
	display: block;
	height: 100%;
}
.heartpath {
	width: 100%;
	height: 100%;
} */
@keyframes Fall {
  0% {
    top: -15px;
  }
  100% {
    top: 100vh;
  }
}
/* #heartcontainer {
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1;
	pointer-events: none;
} */
/* #endregion */
