---yaml
title: "awarium"
---
<!DOCTYPE html><html lang="en"><head>

	{% include "head.html" %}

</head><body>

	<label for="theme-select">Theme: </label>{% include "theme.html" %}<a href="/">Home</a>

	<main>

		<!-- Create n amount of layers -->
		<div id="layers">{% for i in (1..2) %}<canvas width="100" height="100"></canvas>{% endfor %}</div>

		<div>FPS: <output id="fps"></output></div>
		<div>TPS: <output id="tps"></output></div>
		<div>total: <output id="total">0</output>ms</div>
		<div id="step-performance"></div>
		<br>
		<p>60 FPS is 16.66666 MS | 30 FPS is 33.33333 MS</p>
		{% comment %} <section id="perfanal">
			<p>FPS:</p><output id="fps"></output>
			<p>TPS:</p><output id="tps"></output>
		</section>
		<section id="options">
			<p>Options:</p> 
			<br>
			<input type="checkbox" name="perfanal" id="perfanal" class="awa-input" checked><label for="perfanal">perfomance</label>
			

		</section> {% endcomment %}
	</main>

</body></html>