---
title: awasomewebsite 01
icon: null
# templateEngineOverride: liquid
---
<!-- /\ this is called front matter https://www.11ty.dev/docs/data-frontmatter/ -->

<!DOCTYPE html>
<html lang="en">
<head> 
	{% include "head.html" %} <!-- Use same head for all pages by including the same file -->
	<!-- Icons: --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	{% include "noscript.html" %} <!-- Warning shown when JavaScript is disabled -->

	<a href="./color-preview/">Color Preview Page</a>
	<a href="./template/">Template Page</a>
	
	<div id="app"></div>
	{% include "hello.html" %}
</body>
</html>