---json
{
	"addFeatures": ["chroma", "fillRemainingSpace"],
	"replaceCharacters": {
		"insertLocation": "__",
		"regexes": [
			["1([┏━┓─┃┗┛ ]+)", "g", "<span class='boxdraw-color-1'>$1</span>"],
			["2([┏━┓─┃┗┛ ]+)", "g", "<span class='boxdraw-color-2'>$1</span>"]
		]
	}
}
---

<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	{% comment %} <script src="https://unpkg.com/zoom-level"></script> {% endcomment %}
	<script type="module" src="main.ts"></script>
</head>
<body style="font-family: monospace;">
	<p>u22w22u</p>
    <div id="root"></div>
	<div id="spacing"></div>
	<main>
	
	<div>
	<label for="theme-select">Theme: </label>{% include "theme.html" %}
</div>
		<br><br><br>

		<img src="./assets/images/20241014_111653.jpg" alt="" srcset="">
		{% comment %} <img src="./assets/images/background.png" alt="" srcset=""> {% endcomment %}
		<img src="./assets/images/fd84c9f1ebe3861ee0b6f614ae810f21.png" alt="" srcset="">
		<img src="./assets/images/plink-wide-cat.webp" alt="" srcset="">

	<section class="autoResize">
		{% comment %} <div class="fillRemainingSpace" id="e"> {% endcomment %}
			<p>1┏━━?f━ENDOFF━━┓</p>
			<p>1┃?f ENDOFF hello worm ?f ENDOFF1┃</p>
			<p>1┃   2?f─ENDOFF    1┃</p>
			<p>1┃ [ <button>button</button> ] ?f ENDOFF 1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃?f ENDOFF  ?f ENDOFF1┃</p>
			<p>1┃ ?f ENDOFF A ?f ENDOFF W ?f ENDOFF A ?f ENDOFF 1┃</p>
			<p>1┃ abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+-=[]{};:'" `~ 1┃</p>
			<p>1┗━━?f━ENDOFF━━┛</p>
		{% comment %} </div> {% endcomment %}
	</section>
	<span id="character">1</span>
	<br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br>
	<a href="/template/index.html"></a>
	<a href="/color-preview/"></a>
	</main>
	<!-- Inline the scripts that change things that are visible, to prevent flash of unstyled content an external script would show whilst downloading -->
	<script>{% include "./critical.js" %}</script>
</body>
</html>