@use "bundled" as *;
:root {
	--font-size: 10px;
}
$body-padding: 10px;
body {
	font-family: gohu11, monospace;
	background-color: c(bg);
	color: c(fg);
	box-sizing: border-box;
	padding: $body-padding;
	margin: 0;
	min-width: max-content;
}
#spacing {
	width: calc(100% - $body-padding * 2);
	height: calc(100% - $body-padding * 2);
	margin: $body-padding;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: -9999;
	max-width: 65rem;
}
#theme-select {
	font-size: 2em;
}
.boxdraw-color-1 {
	color: c(fg, 300, 500);
}
.boxdraw-color-2 {
	color: c(fg, 100, 500);
}



#baseline-character-for-size-ref {
	font-size: 100px;
	position: absolute;
	visibility: hidden;
	top: -9999px;
}

main {
	// box-sizing: border-box;

	margin: 0 auto;

	display: grid;
	max-width: 70rem;
	grid-template-columns: 1fr minmax(0, 1fr) 1fr;
	justify-items: center;
	// max-width: 100%;
	// width: 100%;
	> * {
		grid-column: 1 / -1;
	}
}



.autoResize {

	background-color: c(bg, 200, 500);
	line-height: 1;
	* {
		font-size: inherit;
		white-space: pre;
		font-family: inherit;
		margin: 0;
		padding: 0;
		border: none;
		background-color: transparent;
	}
}
a {
	// position: absolute;
	// transform-origin: center center;
	// transform: scale(1.3);
	&:hover {
		background-color: cl(hi);
		color: c(hi, 0, 40);
	}
	color: cl(fg, 450, 500);
	text-decoration: none;

	
	cursor: pointer;
}

@include compile-colors;
