// Imports
@use "helpers/bundled.scss" as *;
@use "sass:list";
@use "sass:color";
@use "sass:math";
body {
	@extend %bodyDefaults;
	display: flex;
	flex-direction: column;
	min-width: max-content;
	position: relative; // required for footer
}

// Make page full height even if content too short
html, body { min-height: 100%; }

// Standarize glow effects so all equal
@mixin glow { text-shadow: 0 0 10px; }
@function glow-bg($color) { @return 0 0 20px -2px $color; }




// ANCHOR - Page One
#page-one {
	$screen-background: radial-gradient(circle, #1a1825 0%, #070c12 100%);

	position: relative;
	display: flex;
	justify-content: center;

	min-width: max-content;
	perspective: 2500px;
	color: rgba($fg1, 0.6);
	
	// Background image for page one
	> .background-image {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -9999;
		background-size: cover;
		background-color: rgb(62 65 77);
	}

	// Contains all the screens
	> .wrapper {
		display: flex;
		flex-direction: column;
		margin: 100px;
		margin-top: 0;
		> .screens-container {
			$border-width: 20px;
			$border-depth: 5px;

			// Make the size of the box include the size of the border shadow too
			margin: $border-depth*2 + $border-width; 

			display: flex;
			flex-direction: column;
			background-color: $bg1;
			box-shadow: f_98shadow_outer($border-depth, $border-width);

			> .screen {
				display: flex;
				flex-direction: column;

				background: $screen-background;
				margin: $border-depth;
				padding: 20px;	
				box-shadow: f_98shadow_inner($border-depth);
				&:not(:last-child) { margin-bottom: $border-width + $border-depth; }

				position: relative;
				&::after {
					pointer-events: none;
					content: " ";

					position: absolute; z-index: 2;
					inset: 0 0 0 0;

					display: block;

					background:
						linear-gradient(to bottom, #1210101c 50%, #00000025 50%),
						linear-gradient(to right, #ff00000f, #00ff0005, #0000ff0f),
						linear-gradient(to bottom, #0000 50%, #00000017 50%);
					background-size: 
						100% 2px,
						4px 100%,
						100% 30px;
				}
				@include glow;
			}
			.title {
				color: $hi1;
				font-weight: 99999;
			}
			.logo-text {
				line-height: 1ch;
				white-space: pre;
				.a { color: $hi1l2; }
				.b { color: $hi1; }
				.c { color: $hi1d3; }
				.d { color: #ce3bd640; }
				.e { color: #cd39c821; }
			}
			.links {
				a { display: block; } // Make links full width, to click anywhere
				u {
					color: $fg1;
					text-decoration-color: rgba($fg1, 0.3);
				}
				p:hover, p:hover * {
					color: #000;
					font-weight: bold;

					text-decoration: none;
					text-shadow: none;

					background-color: $hi1;
					box-shadow: glow-bg($hi1);
				}
			}
		}
		
		// 3D Animation rules
		transform-origin: center top;
		transform-style: preserve-3d;
		transform: rotateX(-130deg); // Start rotated up and rotate down when load

		animation: flipDown 1s cubic-bezier(0.13, 0.66, 0.85, 0.96) forwards;
		animation-delay: 200ms;
		@keyframes flipDown {
			100% { transform: rotateX(0) rotateY(0); }
		}
		
		// The 3D stuff above the screens
		> .upper {
			margin-top: -100px; // Lift container up to compensate for the chains reduced height caused by perspective
			height: 250px;
			transform-style: preserve-3d;

			// Flat face visable on the top of the screens while flipping down
			.top-face {
				width: 100%;
				height: 100%;
				transform-origin: center top;
				transform: rotateX(-90deg);
				background-color: $bg1d1;
			}

			// The "chains" holding up the box
			.chains {
				display: flex;
				justify-content: space-between;
				height: 100%;
				z-index: -50;

				backface-visibility: hidden;
				transform-style: preserve-3d;
				transform: translateZ(-75px);

				* {
					display: flex;
					position: relative;
					width: 100px;
					margin: 0 90px;
					background: f_stripesRepeat(to top, [[#0000, 30px], [$bg1d2, 8px], [$bg1d1, 8px], [$bg1, 8px]]);
		
					&::after, &::before {
						content: " ";
						position: absolute;
						width: 30px;
						height: 100%;
						background-color: $bg1d1;
						box-shadow: f_98shadow_outer(3px, 0, $bg1d1, $bg1l2, $bg1d2, $bg1l1, $bg1d3),;
					}
					&::after { left: 100%; }
					&::before { right: 100%; }
				}
			}
		}
	}
}
// Non-specific rules for page one	
.random-message { display: flex; } // To put on one line

#sorting {
	padding: 10px;
	color: rgba($fg1, 0.7);

	* {
		display: flex;
		white-space: pre;
	}
	div {
		color: rgba($fg1, 0.2);
	}

	#sortingBars {
		align-items: end;
		font-size: 1px;
		* {
			content: "";

			flex-grow: 1;

			box-sizing: initial;
			padding-bottom: 10em;

			color: $hi1;

			background-color: $hi1;
			box-shadow: glow-bg(currentcolor);
		}
	}
}




// ANCHOR - Page Two
#page-two {
	$spike-height: 30px;
	mask: f_zigzag-conic();
	mask-size: $spike-height * 2 100%;
	margin-top: 0 - $spike-height;
	padding-top: $spike-height;

	background: linear-gradient(to bottom, palevioletred, black);
	background-color: palevioletred;
}





// ANCHOR - Rules outside of flow
#footer-links {
	position: absolute;
	bottom: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
	margin: 20px;

	font-size: 1.2em;
	font-family: monospace;
	line-height: 1ch;

	* {
		display: flex; white-space: pre;
		transition: all 100ms; }
	a:not(.no-underline) {
		text-decoration: underline;
		text-decoration-style: wavy;
		text-decoration-color: rgba($hi1, 0.6);
	}
	a:hover, a:focus-within { color: $hi1; text-decoration-color: #0000; }
	.dividing-vertical-line {
		$_color: #ffffff2f;
		width: 2px;
		height: 10px;
		margin: 0 10px;
		background: f_hardGradient($_color #0000 $_color #0000 $_color, to bottom);
	}
}
