
// Imports
@use "helpers/bundled.scss" as *;

html {
	// why the fuck is it copying my comment onto the next line when i save :sob:
	position: relative;
	min-height: 100%;
}
body { @extend %bodyDefaults; min-height: 100%; }


.unhideRandom {
	display: flex;
	flex-direction: row;
}

@mixin glow($color: null, $background: false) {
	@if $background == true {
		box-shadow: 
			0 0 20px 0 $color,
			0 0 90px 40px $color;
	} @else {
		text-shadow: 2px 20px 0 red, -2px 0 1px currentcolor;	
	}
}


@mixin terminalStyle {
	@include glow;

	position: relative;
	font-family: Terminal;
	background: radial-gradient(circle, #1a1825 0%, #070c12 100%);

	// Striped Lines + Faint RGB Pixelated overlay effects
	&::before {
		pointer-events: none;
		content: " ";

		position: absolute; z-index: 2;
		top: 0; bottom: 0; left: 0;

		display: block;

		background:
			linear-gradient(to bottom, #1210101c 50%, #00000025 50%),
			linear-gradient(to right, #ff00000f, #00ff0005, #0000ff0f),
			linear-gradient(to bottom, #0000 50%, #00000017 50%);
		background-size: 
			100% 2px,
 
			3px 100%,
 
			100% 16px;
	}
}

#corners {
	* {
		--gradient: #0000 40%, rgb(255 255 255 / 17.3%) 0 60%, #0000 0;
		position: absolute;
		bottom: 0;

		width:  10px; 
		height: 10px;
		margin: 10px;

		background: 
			linear-gradient(0deg, var(--gradient)),
			linear-gradient(90deg, var(--gradient));
	}
	*:nth-child(1) { top:    0; left:   0; }
	*:nth-child(2) { top:    0; right:  0; }
	*:nth-child(3) { bottom: 0; left:   0; }
	*:nth-child(4) { right:  0; bottom: 0; }
}


$text-color: $fg-1la;
$a: #ff5b81; $b: #ff4375; $c: #ff2558; $d: #ce3bd640; $e: #cd39c821;


// ANCHOR - Main Container (holds all the little screens)
#main-container-T {
	$width: 30px; 
	$depth: 3px;
	
	display: inline-flex;
	flex-direction: column;

	min-width: 0;
	max-width: min-content;
	margin: 60px 35px 200px;

	background-color: $bg-1l1;
	box-shadow: 
		f_98shadow_outer($depth, $width),
		50px 50px 100px 0 rgb(0 0 0 / 23.4%);

	> *:not(:first-child) { margin-top: $width + $depth*4; }
	> * {
		@include terminalStyle;
		padding: 10px;
		box-shadow:
			f_98shadow_inner($depth),
			inset 50px 50px 100px 0 rgb(0 0 0 / 34%);
	}
}



// Main menu for page selection
#pageList {
	display: flex;	
	flex-direction: column;

	padding: 20px;

	font-size: 16px;
	color: rgba($text-color, 0.3);

	.title { color: $c; }


	// List of page links <p><a href="/">-> <u>Title</u> - Description</a></p>
	.links {
		display: flex;
		flex-direction: column;
		white-space: pre; // Disable the auto-collpase of spaces ' ' in the html (after the ->)

		a {
			cursor: pointer;

			display: flex;

			width: 100%;

			color: rgba($text-color, 0.5);

			outline: none;
			&:hover, &:focus-within, &:focus {
				@include glow($c, true);
				background-color: $c;
				&, * { color: $bg-1; text-decoration-color: #0000; }
			}
		}
		u {
			color:                     $text-color;
			text-decoration-color:     rgba($text-color, 0.7);
			text-decoration-thickness: 1px;
			text-underline-offset:     2px;
		}
	}
	#logo-text {
		line-height: 1ch; // Required to make all characters square
		white-space: pre;
		.a { color: $a; } .b { color: $b; } .c { color: $c; } .d { color: $d; } .e { color: $e; }
	}
}



// 
#links {
	position: absolute;
	bottom: 0;

	display: flex;
	flex-direction: row;
	align-items: center;

	margin: 20px;

	font-family: "Roboto Mono";
	line-height: 1ch;

	* { display: flex; white-space: pre; }
	a:not(.no-underline) { text-decoration: underline; text-decoration-color: rgba($text-color, 0.3); }
	a:hover, a:focus-within { color: $a; text-decoration-color: #0000; }
	.divider {
		$_color: #ffffff2f;
		width: 2px;
		height: 10px;
		margin: 0 10px;
		background: f_hardGradient($_color #0000 $_color #0000 $_color, to bottom);
	}
}



#barcode {
	display: inline-flex;
	// The actual bars
	> div {
		display: inline-flex;
		flex-grow: 1;
		height: 15px;
		> div {
			@include glow(currentcolor, true);
			display: inline-flex;

			width: 50%;
			margin-left: 50%;
		
			color: rgba($c, 0.7);

			background-color: currentcolor;
		}
	}
}




#sorting {
	flex-direction: column;
	padding: 10px;
	color: rgba($text-color, 0.7);
	// box-shadow: f_98shadow_full(), inset 50px 50px 100px 0 rgb(0 0 0 / 34%), 50px 50px 100px 0 rgb(0 0 0 / 23.4%);box-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadow
	@include terminalStyle;
	&, * {
		display: flex;
		white-space: pre;
	}
	div {
		color: rgba($text-color, 0.2);
	}

	#sortingBars {
		align-items: end;
		font-size: 1px;
		* {
			content: "";

			flex-grow: 1;

			box-sizing: initial;
			padding-bottom: 10em;

			color: $c;

			background-color: $c;
			@include glow(currentcolor, true);
		}
	}
}





#main-container-P {
	// Generate a zigzag shape using a repeating conic gradient, to be used as a background or mask
	// note: set background/mask-size to [X% 100%] where X is the desired scale, or if left/right then [100% X%]
	@function f-zigzag-conic($side: "top", $background-color: #000000, $outer-color: transparent) {
		$offset: 0;

		@if $side=="bottom" {
			$offset: 0.5turn;
		} @else if $side=="top" {
			$offset: 0turn; 
		} @else if $side == "right" {
			$offset: 0.25turn;
		} @else if $side == "left" {
			$offset: 0.75turn;
		} @else {
			@error "Unknown side: #{$side}, must be 'top', 'bottom', 'right' or 'left'";
		}
		// misalign the center values by 1grad to have a very tiny gradient between the two colors, 
		// helping elimatinate anti-aliasing
		@return conic-gradient(
			from #{$offset}
			at #{$side},
			$outer-color 0grad 150grad,
			$background-color 151grad 249grad, 
			$outer-color 250grad 50grad,
		);
	}
	bottom: 0;

	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;

	width: 100%;
	height: 600px;
	padding: 10px;
	padding-top: 40px;

	font-family: cursive;
	color:#f8f7dc;
	text-align: left;

	background-color: #302b2e;

	mask: f-zigzag-conic("top");
	

	mask-position: 0% top;
	mask-size: 5% 100%;
}
@keyframes scroll-mask {
	0% { mask-position: 0% top; }
	100% { mask-position: 100% top; }
}
#uwu {
	width: 100%;
	max-height: 100%;

	writing-mode: vertical-lr;
	font-family: Terminal;
	text-orientation: upright;
	word-wrap: break-word;
}
