// @use "sass:color";
// @use "sass:list";
// @use "sass:map";
// @use "sass:math";
// @use "sass:meta";
// @use "sass:selector";
// @use "sass:string";

@use "auto-resize-text.scss";
@use "bundled.scss" as *;
@include base-styles;
@include reset;

///////////////////////////////////////////////////////////////////////////////////
/* ✿ ╟━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╫━━━━╢ ✿ */

// - Root Properties
$base-font-size: 22px;
$base-line-height: 1.2;

/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
// 	- Custom units in pixels based on the actual font metrics, and the base font size
// For use in places where you want to use character-based units for a different font size than the one the element has
// Otherwise, when the font size passed is the same, values will (hopefully) be identical to 1ch, 1ex, 1lh, and 1cap

// - The exact ratios for 'gohu11'
$ch-ratio: 0.53759765625;  // = 1101 (xAvgCharWidth)                                 / 2048 (unitsPerEm) = width of x
$ex-ratio: 0.45654296875;  // =  935 (sxHeight)                                      / 2048 (unitsPerEm) = height of x
$lh-ratio: 1.18408203125;  // = 2425 (sTypoAscender - sTypoDescender + sTypoLineGap) / 2048 (unitsPerEm) = line height
$cap-ratio: 0.63818359375; // = 1307 (sCapHeight)                                    / 2048 (unitsPerEm) = height of caps
// [precision calculator: https://www.mathsisfun.com/calculator-precision.html]
// [getting the font metrics: https://opentype.js.org/font-inspector.html]

// - Functions to calculate the character-based units from a font size, output is in pixels/px
@function ch($i: 1, $font-size: $base-font-size) { @return ($font-size * $ch-ratio) * $i; }   // width of x
@function ex($i: 1, $font-size: $base-font-size) { @return ($font-size * $ex-ratio) * $i; }   // height of x
@function lh($i: 1, $font-size: $base-font-size) { @return ($font-size * $lh-ratio) * $i; }   // line height
@function cap($i: 1, $font-size: $base-font-size) { @return ($font-size * $cap-ratio) * $i; } // height of X

/* ❀ ╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴╴ ❀ */
// - Helpful variables and root properties

:root {
	font-size: $base-font-size;
	line-height: $base-line-height;
}


$gap: lh(1) ch(2) ; // shorthand list for margins and paddings that are 2 characters wide and 1 line tall

body {
	box-sizing: border-box;
	// padding: 2rem;
}
body, html {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100vw;
}

br {
	content: " ";
	margin-bottom: 1lh;
	display: block;
}



.good {
	transform-origin: center center;
	position: sticky;
	z-index: 1000;
}
.text-divider {
	overflow: hidden;
	background-color: c(bg, 300);
	color: c(bg, 300, 10);
	word-wrap: nowrap;
	height: 1lh;white-space: pre;
}


///////////////////////////////////////////////////////////////////////////////////
// - Main

main {
	background-color: c(bg, 500);
	width: 100%;
	margin: 0 auto;
	// border-top: 1lh solid c(bg, 400);
}




///////////////////////////////////////////////////////////////////////////////////
// - Logo

#hero {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100vmin;
	box-sizing: border-box;
	box-shadow: inset 0 0 1000px 0 rgba(0 0 0 / 30%);

	display: flex;
	place-content: center;
	place-items: center;
	#logo-text {
		width: 100%;
		padding: 1lh 6vw;
		display: flex;
		place-content: center;
		place-items: center;
		max-width: 100vw;
		> div {
			width: 100%;
			line-height: 1ch;
			white-space: pre;
			box-sizing: border-box;
			margin: auto;
			* { display: inline; }
			.color-000 { color: c(fg, 550, 0); } 
			.color-001 { color: c(fg, 550); opacity: 0.1; }
			cursor: default;
			opacity: 0.9;
			text-shadow:
				currentcolor 0 0 1em,
				rgb(255 0 255 / 20%) 1ch 0 0.15em,
				rgb(0 255 255 / 20%) -1ch 0 0.15em;
		}
	}
}

// @debug "   creature: 🦒";
// @warn "creature escape";
// @warn "creature escape";
// @warn "creature escape";
// @warn "creature escape";
// @warn "creature escape";
// @warn "creature escape";
// @warn "creature escape";
// @warn "creature escape";
// @warn "creature escape";

///////////////////////////////////////////////////////////////////////////////////
// - Stars
#stars {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -1;

	.star {
		font-size: 0.75rem;
		opacity: 0;
		position: absolute;
		transform-origin: center center;
		text-shadow: 0 0 4em currentcolor;
		// --tx: 0px;
		// --ty: 0px;
		// --scale: 1;
		// --rot: 0deg;
		// transform: translate(var(--tx), var(--ty)) scale(var(--scale)) rotate(var(--rot));
	}
}
@keyframes animation1 {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes animation2 {
	0% { transform: rotate(); opacity: 0; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}
// @keyframes spin {
// 	from { transform: rotate(0deg); }
// 	to { transform: rotate(360deg); }
// }
@keyframes animation3 {
	0% { opacity: 0; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}
// @keyframes moveNORTH { from { transform: translateY(0%); } to { transform: translateY(100vh); } }
// @keyframes moveSOUTH { from { transform: translateY(0%); } to { transform: translateY(-100vh); } }
// @keyframes moveEAST { from { transform: translateX(0%); } to { transform: translateX(100vw); } }
// @keyframes moveWEST { from { transform: translateX(0%); } to { transform: translateX(-100vw); } }


///////////////////////////////////////////////////////////////////////////////////
// - Slime Rancher Scrolling Track

// #region
$slime-height: 5rem;
$slime-space: 5rem;
#slimes-track {
	position: relative;
	height: $slime-height + $slime-space;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

// - Just for hover detection
#slimes-track .hover-detect {
	content: "";
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 2;
	height: $slime-height;
	$distance: 1%;
	background: linear-gradient(to right, c(bg, 400) 0%, transparent $distance, transparent 100% - $distance, c(bg, 400) 100%);
	cursor: url("./images/raw/heartbeet.png") 7 2, auto; 
}
#slimes {
	
		
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: $slime-height;
	position: relative;
	background-color: c(bg, 400);
	
	opacity: 0;
	transition: opacity 500ms ease-in;

		
	.image-wrapper {
		overflow-y: visible;
		
		figure {
			overflow-y: visible;
			transition: all 600ms ease-out;
		}
		display: flex;
		flex-direction: column;
		justify-content: flex-end; /* push children to bottom */
		height: $slime-height + $slime-space;
		
		transition-timing-function: linear;
		transition-property: all;
	}
	img, figure {
		width: $slime-height;
		height: $slime-height;
	}
}
// #endregion





@include compile-colors;
